{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-admin_navcel.css' %}}">
    <link rel="stylesheet" href="{% static 'css/styles_admin-cambiarplanes.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_admin_alumnos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesPerfil2.css' %}">
    <script src="{% static 'js/sectionProfile.js' %}"></script>
    <title>Gym House: Alumnos</title>
</head>
<body>
    <nav class="menu">
        <div class="menu_icons">
            <ul> <!-- poner los links correctos -->
                <li>
                    <a href="{% url 'login_profe' %}">
                        <img class="logo" src="{% static 'images/logo.png' %}">
                    </a> 
                </li> 
                <li>
                    <a href="#" class="show-profile" id="show-profile"> 
                        <img src="/static/images/user.png"> 
                        <p>Perfil</p> 
                    </a>
                </li> 
                <li> 
                    <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                        <img src="{% static 'images/gym/gym.png' %}">
                        <p>Entrenar</p>
                    </a> 
                </li>
                <li>
                    <a href="{% url 'posts:adminNoticia' %}">
                        <img src="{% static 'images/edit.png' %}">
                        <p>Noticias</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'personas:adminTurnos' %}">
                        <img src="{% static 'images/calendar.png' %}">
                        <p>Turnos</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'personas:adminAlumnos' %}">
                        <img src="{% static 'images/users-alt.png' %}">
                        <p>Alumnos</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="navigation" id="navigation">
        <ul>
            <li class="list">
                <a href="{% url 'login_profe' %}">
                    <span class="icono"><img class="landing" src="{% static 'images/logo.svg' %}"></span>
                    <span class="text">Inicio</span>
                </a>
            </li>
            <li class="list active">
                <a href="admin_perfil.html">
                    <span class="icono"><img src="/static/images/user.png"> </span>
                    <span class="text">Perfil</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                    <span class="icono"><img src="{% static 'images/gym/gym.png' %}"></span>
                    <span class="text">Entrenar</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'posts:adminNoticia' %}">
                    <span class="icono"><img src="{% static 'images/edit.png' %}"></span>
                    <span class="text">Noticias</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'personas:adminTurnos' %}">
                    <span class="icono"><img src="{% static 'images/calendar.png' %}"></span>
                    <span class="text">Turnos</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'personas:adminAlumnos' %}">
                    <span class="icono"><img src="{% static 'images/users-alt.png' %}"></span>
                    <span class="text">Alumnos</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <section class="section-profile" id="section-profile">
        <div id="perfil_bg--blur" class="perfil_bg--blur">
            <div class="perfil_bg--gradient" id="perfil_bg--gradient">
                <div class="perfil_bg" id="perfil_bg">
                    <!-- Perfil minimizado........................................ -->
                    <div class="navbar--fill" id="navbar--fill"></div> 
                    <div id="profile" class="profile">
                        {% if user.foto_de_perfil == None %}
                            <div class="profile_data--radiuspic" id="profile_data--radiuspic">
                                <img src="{% static 'images/avatar/9.png' %}" class="profile_data--pic" id="profile_data--pic">
                            </div>
                        {% else %}
                            <div class="profile_data--radiuspic" id="profile_data--radiuspic">
                                <img src="{% if user.foto_de_perfil %} {{user.foto_de_perfil.url}} {% else %} {% static 'images/avatar/11.png' %} {% endif %}" class="profile_data--pic" id="profile_data--pic">
                            </div>
                        {% endif %}
                        
                        <div class="profile_data--name" id="profile_data--name">
                            <h1>{{user.apodo}}</h1>
                            {% comment %} <figure></figure> {% endcomment %}
                            <h3>{{user.nombre}} {{user.apellido}}</h3>
                            {% if  user.edad != None%}
                                <p>{{user.edad}} años</p>
                            {% endif %}
                            {% comment %} <p>{{user.edad}}</p> {% endcomment %}
                        </div>
                        {% if user.biografia %}
                            <div class="profile_data--description" id="profile_data--description">
                                <p>{{user.biografia}}</p>
                            </div>
                        {% else %}
                            <br>
                        {% endif %}
                        
                        <div class="profile_data--numbers" id="profile_data--numbers">
                            <ol>
                                {% if user.telefono %}
                                <li>
                                    <h5>{{user.telefono}}</h5>
                                    <p>CONTACTO</p>
                                </li>
                                {% else %}
                                    <br>
                                {% endif %}

                                {% if user.peso %}
                                <li>
                                    <h5>{{user.peso}}</h5>
                                    <p>PESO</p>
                                </li>
                                {% else %}
                                    <br>
                                {% endif %}
                                
                                {% if user.altura %}
                                <li>
                                    <h5>{{user.altura}}</h5>
                                    <p>ALTURA</p>
                                </li>
                                {% else %}
                                    <br>
                                {% endif %}
                            </ol>
                        </div>
                        <button id="profile_data--button" class="profile_data--button">
                            <a href="{% url 'personas:perfil' %}">Editar Perfil</a> 
                        </button>
                        <a class="botonito" href="{% url 'logout' %}">Salir de la cuenta</a>
                    </div>
                    <!-- Fin perfil minimizado........................................ -->
                </div>
            </div>
        </div>

        <div class="aestethical-margin"></div>

    </section>
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> {% endcomment %}
    {% comment %} <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> {% endcomment %}
    <!-- <script> document.getElementById("eprofile").style.display='none'; </script> -->

    <!-- fin de los menú -->

    <div class="register-pupil">
        <button id="register-pupil">
            <p>INSCRIBIR ALUMNOS</p>
        </button>
    </div>

    <div class="cards-container">
        {% for person in personas %}
        
            <div class="card-info">
                <figure><img src="{% if person.foto_de_perfil %} {{person.foto_de_perfil.url}} {% else %} {% static 'images/avatar/11.png' %} {% endif %}" alt=""></figure>
                <div class="pupil_data--name" id="pupil_data--name">
                    {% if person.apodo %}
                        <h1>{{person.apodo}}</h1>
                    {% else %}
                        <p></p>
                    {% endif %}
                    
                    <h3>{{person.nombre}} {{person.apellido}}</h3>
                    <p>{{person.edad}}</p>
                </div>
                <ol class="pupil_data--numbers" id="pupil_data--numbers">
                    {% if person.altura %}
                        <li>
                            <h5>{{person.altura}}</h5>
                            <p>ALTURA</p>
                        </li>
                    {% else %}
                        <p></p>
                    {% endif %}
                    {% if  person.telefono %}
                    
                        <li>
                            <h5>{{person.telefono}}</h5>
                            <p>CONTACTO</p>
                        </li>
                    {% else %}
                        <p></p>
                    {% endif %}
                    {% if  person.peso %}
                    
                        <li>
                            <h5>{{person.peso}}</h5>
                            <p>PESO</li>
                        </li>
                    {% else %}
                        <p></p>
                    {% endif %}
                </ol>
                <p class="pupil_plan">{{person.turno_set.all.0}}</p>
                <ul class="pupil_plan-days">
                    {% for fecha in person.turno_set.all.0.dias.all %}
                    
                        <li>
                            <p>{{fecha.dia|slice:":3"|upper}}</p>
                            <p>{{fecha.hora}}hs</p>
                        </li>
                    
                    {% endfor %}
                </ul>
            </div>
        
        {% endfor %}
    </div>

    <div class="planmensual--pop-up" id="planmensual--pop-up">
        <form method="POST" class="planmensual--pop-up_wrap" id="form_create_user">
            {% csrf_token %}
            <div class="pop-up--data" id="pop-up--data">
                <i class="fa-solid fa-xmark"></i>
                
                <div class="input-group">
                    <input required="" type="text" name="nombre" autocomplete="off" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32)" class="input">
                    <label class="user-label">Nombre(s)</label>
                </div>
                <div class="input-group">
                    <input required="" type="text" name="apellido" autocomplete="off" class="input" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32)">
                    <label class="user-label">Apellido(s)</label>
                </div>
                <div class="input-group" id="input-group--email">
                    <input required="" type="email"  name="email" autocomplete="off" class="input">
                    <label class="user-label">Correo electronico</label>
                </div>
                <div class="pop-up--data--numbers" id="pop-up--data--numbers">
                    <div class="input-group">
                        <input required="" type="text" min="0" name="edad" autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" class="input" maxlength="2"> 
                        <label class="user-label">Edad</label>
                    </div>
                </div>
                <div class="input-group">
                    <input required="" type="password" name="pass" autocomplete="off" class="input" id="actualPassword">
                    <label class="user-label">
                        Contraseña actual
                    </label>
                    <i class="fa-solid fa-eye-slash" id="solid-eye-slash-actual"></i>
                    <i class="fa-solid fa-eye" id="solid-eye-actual"></i>
                </div>

                <button type="submit" id="submit_button"><p>Siguiente</p></button>
                <a href="{% url 'personas:adminAlumnos' %}" id="data_secondbutton"><p>Atrás</p></a>
            </div>
        </form>    
    </div>

    <script src="{% static 'js/sectionPupils.js' %}"></script>
    <script src="{% static 'js/model_admin.js' %}"></script>
</body>
</html>
