{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_menu-celu.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_admin-cambiarplanes.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_admin_alumnos.css' %}">

    <title>Gym House: Alumnos</title>
</head>
<body>
    <nav class="menu">
        <div class="menu_icons">
            <ul> <!-- poner los links correctos -->
                <li>
                    <a href="{% url 'login_profe' %}">
                        <img class="logo" src="{% static 'images/logo.png' %}">
                    </a> 
                </li> 
                <li>
                    <a href="#">
                        <img src="{% static 'images/user.png' %}">
                        <p>Perfil</p>
                    </a>
                </li> 
                <li> 
                    <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                        <img src="{% static 'images/gym/gym.png' %}">
                        <p>Entrenar</p>
                    </a> 
                </li>
                <li>
                    <a href="{% url 'posts:adminNoticia' %}">
                        <img src="{% static 'images/edit.png' %}">
                        <p>Noticias</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'personas:adminTurnos' %}">
                        <img src="{% static 'images/calendar.png' %}">
                        <p>Turnos</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'personas:adminAlumnos' %}">
                        <img src="{% static 'images/users-alt.png' %}">
                        <p>Alumnos</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="navigation" id="navigation">
        <ul>
            <li class="list">
                <a href="{% url 'login_profe' %}">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="text">Inicio</span>
                </a>
            </li>
            <li class="list active">
                <a href="admin_perfil.html">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="text">Perfil</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                    <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                    <span class="text">Entrenar</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'posts:noticias' %}">
                    <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                    <span class="text">Noticias</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'personas:adminTurnos' %}">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="text">Turnos</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'personas:adminAlumnos' %}">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="text">Alumnos</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <div class="navigation--space" id="navigation--space"></div>

    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> {% endcomment %}
    {% comment %} <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> {% endcomment %}
    <!-- <script> document.getElementById("eprofile").style.display='none'; </script> -->

    <!-- fin de los menú -->

    <div class="register-pupil">
        <button id="register-pupil">
            <p>INSCRIBIR ALUMNOS</p>
        </button>
    </div>

    <div class="cards-container">
        {% for person in personas %}
        
            <div class="card-info">
                <figure><img src="{{person.foto_de_perfil}}" alt=""></figure>
                <div class="pupil_data--name" id="pupil_data--name">
                    <h1>{{person.apodo}}</h1>
                    <h3>{{person.nombre}} {{person.apellido}}</h3>
                    <p>{{person.edad}}</p>
                </div>
                <ol class="pupil_data--numbers" id="pupil_data--numbers">
                    <li>
                        <h5>{{person.altura}}</h5>
                        <p>ALTURA</p>
                    </li>
                    <li>
                        <h5>{{person.telefono}}</h5>
                        <p>CONTACTO</p>
                    </li>
                    <li>
                        <h5>{{person.peso}}</h5>
                        <p>PESO</li>
                    </li>
                </ol>
                <p class="pupil_plan">{{person.turno_set.all.0}}</p>
                <ul class="pupil_plan-days">
                    {% for fecha in person.turno_set.all.0.dias.all %}
                    
                        <li>
                            <p>{{fecha.dia|slice:":3"|upper}}</p>
                            <p>{{fecha.hora}}hs</p>
                        </li>
                    
                    {% endfor %}
                </ul>
            </div>
        
        {% endfor %}
    </div>

    <div class="planmensual--pop-up" id="planmensual--pop-up">
        <form method="POST" class="planmensual--pop-up_wrap" id="form_create_user">
            {% csrf_token %}
            <div class="pop-up--data" id="pop-up--data">
                <i class="fa-solid fa-xmark"></i>
                
                <div class="input-group">
                    <input required="" type="text" name="nombre" autocomplete="off" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32)" class="input">
                    <label class="user-label">Nombre(s)</label>
                </div>
                <div class="input-group">
                    <input required="" type="text" name="apellido" autocomplete="off" class="input" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32)">
                    <label class="user-label">Apellido(s)</label>
                </div>
                <div class="input-group" id="input-group--email">
                    <input required="" type="email"  name="email" autocomplete="off" class="input">
                    <label class="user-label">Correo electronico</label>
                </div>
                <div class="pop-up--data--numbers" id="pop-up--data--numbers">
                    <div class="input-group">
                        <input required="" type="text" min="0" name="edad" autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" class="input" maxlength="2"> 
                        <label class="user-label">Edad</label>
                    </div>
                </div>
                <div class="input-group">
                    <input required="" type="password" name="pass" autocomplete="off" class="input" id="actualPassword">
                    <label class="user-label">
                        Contraseña actual
                    </label>
                    <i class="fa-solid fa-eye-slash" id="solid-eye-slash-actual"></i>
                    <i class="fa-solid fa-eye" id="solid-eye-actual"></i>
                </div>

                <button type="submit" id="submit_button"><p>Siguiente</p></button>
                <a href="{% url 'personas:adminAlumnos' %}" id="data_secondbutton"><p>Atrás</p></a>
            </div>

            {% comment %} <div class="pop-up--first" id="pop-up--first">
                <i class="fa-solid fa-xmark"></i>
                <p>Seleccioná el plan del Alumno</p>
                <div class="container_choices">

                        <input type="radio" name="plan" id="dos_semana" value="2 veces/Semana">
                        <label for="dos_semana" class="choice">
                            <h2>2</h2>
                            <h3>dias/semana</h3>
                        </label>

                        <input type="radio" name="plan" id="tres_semana" value="3 veces/Semana">
                        <label for="tres_semana" class="choice">
                            <h2>3</h2>
                            <h3>dias/semana</h3>
                        </label>

                        <input type="radio" name="plan" id="cinco_semana" value="5 veces/Semana">
                        <label for="cinco_semana" class="choice">
                            <h2>5</h2>
                            <h3>dias/semana</h3>
                        </label>


                </div>

                <button id="first_button"><p>Siguiente</p></button>
                <button id="first_secondbutton"><p>Atrás</p></button>
            </div>

            <div class="pop-up--second" id="pop-up--second">
                <i class="fa-solid fa-xmark"></i>
                <p>Elegí los días y horarios que el alumno va a asistir</p>
                <ul>
                    <li class="day selection">
                        <p>LUN</p>
                        <div class="custom-num">
                            <i class="fas fa-angle-up arr-up" id="arr-down"></i>
                            <input
                            type="number"
                            class="num-input"
                            id="num-imput"
                            min="14"
                            max="22"
                            value="15"/>
                            <i class="fas fa-angle-down arr-down" id="arr-up"> </i>
                        </div>
                        <p class="hs">hs</p>
                    </li>
                    <li class="day">
                        <p>MAR</p>
                    </li>
                    <li class="day">
                        <p>MIÉ</p>
                    </li>
                    <li class="day">
                        <p>JUE</p>
                    </li>
                    <li class="day">
                        <p>VIE</p>
                    </li>
                </ul>
                <button id="second_button"><p>Finalizar</p></button>
                <button id="second_secondbutton"><p>Atrás</p></button>
            </div>

            <div class="pop-up--third" id="pop-up--third">
                <i class="fa-solid fa-xmark" id="xmark"></i>
                <h5>¡Plan cambiado exitosamente!</h5>
                <div class="plan-changed">
                    <p>Aron Soto</p>
                    <p>3 días/semana</p>
                    <ul>
                        <li>
                            <p>Lun</p>
                            <p>16hs</p>
                        </li>
                        <li>
                            <p>Mié</p>
                            <p>16hs</p>
                        </li>
                        <li>
                            <p>Jue</p>
                            <p>16hs</p>
                        </li>
                    </ul>
                </div>
            </div> {% endcomment %}
        </form>    
    </div>

    <script src="{% static 'js/sectionPupils.js' %}"></script>
</body>
</html>
