{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_menu-celu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_alumnos-turnos.css' %}">
    
    <title>Gym House: turnos</title>
</head>
<body>

    <nav class="menu">
        <div class="menu_icons">
            <ul>
                <li>
                    <a href="{% url 'login_user' %}">
                        <img class="logo" src="{% static 'images/logo.png' %}">
                    </a> 
                </li> 
                <li>
                    <a href="#" class="show-profile" id="show-profile"> 
                        <img src="{% static 'images/user.png' %}"> 
                        <p>Perfil</p> 
                    </a>
                </li> 
                <li> 
                    <a href="{% url 'entrenamiento:ejercicios' %}">
                        <img src="{% static 'images/gym/gym' %}.png">
                        <p>Entrenar</p> 
                    </a> 
                </li>
                <li>
                    <a href="{% url 'posts:noticias' %}">
                        <img src="{% static 'images/edit.png' %}">
                        <p>Noticias</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'personas:turnos' %}">
                        <img src="{% static 'images/calendar.png' %}">
                        <p>Turnos</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="turnos"> <!--este cambie la class-->
        <div class="shifts" id="shifts"><!--este agregué-->
        <div class="shifts_table" id="shifts_table">
            <h1>TURNOS</h1>
            <div class="shifts_days--monday" id="shifts_days--monday">
                <h3 class="shifts_days" id="shifts_days--l">Lunes</h3>
                <div class="shift_info--overflow">
                    <div class="shift_info--conteiner">
                        <div class="shifts_info" id="shifts_info--l13">
                            <p class="shifts_info--hour">13hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "lunes" in alumno.dias and 13 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--l14">
                            <p class="shifts_info--hour">14hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "lunes" in alumno.dias and 14 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--l15">
                            <p class="shifts_info--hour">15hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "lunes" in alumno.dias and 15 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--l16">
                            <p class="shifts_info--hour">16hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "lunes" in alumno.dias and 16 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--l17">
                            <p class="shifts_info--hour">17hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "lunes" in alumno.dias and 17 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--l18">
                            <p class="shifts_info--hour">18hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "lunes" in alumno.dias and 18 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--l19">
                            <p class="shifts_info--hour">19hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "lunes" in alumno.dias and 19 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--l20">
                            <p class="shifts_info--hour">20hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "lunes" in alumno.dias and 20 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--l21">
                            <p class="shifts_info--hour">21hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "lunes" in alumno.dias and 21 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--l22">
                            <p class="shifts_info--hour">22hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "lunes" in alumno.dias and 22 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="shifts_days--tuesday" id="shifts_days--tuesday">
                <h3 class="shifts_days" id="shifts_days--m">Martes</h3>
                <div class="shift_info--overflow">
                    <div class="shift_info--conteiner">
                        <div class="shifts_info" id="shifts_info--m13">
                            <p class="shifts_info--hour">13hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "martes" in alumno.dias and 13 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--m14">
                            <p class="shifts_info--hour">14hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "martes" in alumno.dias and 14 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--m15">
                            <p class="shifts_info--hour">15hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "martes" in alumno.dias and 15 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--m16">
                            <p class="shifts_info--hour">16hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "martes" in alumno.dias and 16 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--m17">
                            <p class="shifts_info--hour">17hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "martes" in alumno.dias and 17 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--m18">
                            <p class="shifts_info--hour">18hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "martes" in alumno.dias and 18 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--m19">
                            <p class="shifts_info--hour">19hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "martes" in alumno.dias and 19 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--m20">
                            <p class="shifts_info--hour">20hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "martes" in alumno.dias and 20 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--m21">
                            <p class="shifts_info--hour">21hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "martes" in alumno.dias and 21 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--m22">
                            <p class="shifts_info--hour">22hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "martes" in alumno.dias and 22 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="shifts_days--wednesday" id="shifts_days--wednesday">
                <h3 class="shifts_days" id="shifts_days--mi">Miércoles</h3>
                <div class="shift_info--overflow">
                    <div class="shift_info--conteiner">
                        <div class="shifts_info" id="shifts_info--mi13">
                            <p class="shifts_info--hour">13hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "miercoles" in alumno.dias and 13 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi14">
                            <p class="shifts_info--hour">14hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "miercoles" in alumno.dias and 14 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi15">
                            <p class="shifts_info--hour">15hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "miercoles" in alumno.dias and 15 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi16">
                            <p class="shifts_info--hour">16hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "miercoles" in alumno.dias and 16 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi17">
                            <p class="shifts_info--hour">17hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "miercoles" in alumno.dias and 17 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi18">
                            <p class="shifts_info--hour">18hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "miercoles" in alumno.dias and 18 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi19">
                            <p class="shifts_info--hour">19hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "miercoles" in alumno.dias and 19 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi20">
                            <p class="shifts_info--hour">20hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "miercoles" in alumno.dias and 20 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi21">
                            <p class="shifts_info--hour">21hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "miercoles" in alumno.dias and 21 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi22">
                            <p class="shifts_info--hour">22hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "miercoles" in alumno.dias and 22 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shifts_days--thursday" id="shifts_days--thursday">
                <h3 class="shifts_days" id="shifts_days--j">Jueves</h3>
                <div class="shift_info--overflow">
                    <div class="shift_info--conteiner">
                        <div class="shifts_info" id="shifts_info--j13">
                            <p class="shifts_info--hour">13hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "jueves" in alumno.dias and 13 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--j14">
                            <p class="shifts_info--hour">14hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "jueves" in alumno.dias and 14 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--j15">
                            <p class="shifts_info--hour">15hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "jueves" in alumno.dias and 15 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--j16">
                            <p class="shifts_info--hour">16hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "jueves" in alumno.dias and 16 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--j17">
                            <p class="shifts_info--hour">17hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "jueves" in alumno.dias and 17 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--j8">
                            <p class="shifts_info--hour">18hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "jueves" in alumno.dias and 18 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--j19">
                            <p class="shifts_info--hour">19hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "jueves" in alumno.dias and 19 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--j20">
                            <p class="shifts_info--hour">20hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "jueves" in alumno.dias and 20 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--j21">
                            <p class="shifts_info--hour">21hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "jueves" in alumno.dias and 21 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--j22">
                            <p class="shifts_info--hour">22hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "jueves" in alumno.dias and 22 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shifts_days--friday" id="shifts_days--friday">
                <h3 class="shifts_days" id="shifts_days--v">Viernes</h3>
                <div class="shift_info--overflow">
                    <div class="shift_info--conteiner">
                        <div class="shifts_info" id="shifts_info--v13">
                            <p class="shifts_info--hour">13hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "viernes" in alumno.dias and 13 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--v14">
                            <p class="shifts_info--hour">14hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "viernes" in alumno.dias and 14 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--v15">
                            <p class="shifts_info--hour">15hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "viernes" in alumno.dias and 15 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--v16">
                            <p class="shifts_info--hour">16hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "viernes" in alumno.dias and 16 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--v17">
                            <p class="shifts_info--hour">17hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "viernes" in alumno.dias and 17 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--v18">
                            <p class="shifts_info--hour">18hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "viernes" in alumno.dias and 18 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--v19">
                            <p class="shifts_info--hour">19hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "viernes" in alumno.dias and 19 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--v20">
                            <p class="shifts_info--hour">20hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "viernes" in alumno.dias and 20 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--v21">
                            <p class="shifts_info--hour">21hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "viernes" in alumno.dias and 21 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="shifts_info" id="shifts_info--v22">
                            <p class="shifts_info--hour">22hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                            <ul class="alumnos">
                                {% for alumno in alumnos %}
                                    {% if "viernes" in alumno.dias and 22 in alumno.horas%}
                                        <li>
                                            <img src="{{alumno.foto_url}}" alt="" width="20px">
                                            {{alumno.persona}}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        </div>

        <div class="acomodar"><!--este agregué-->
            <div class="landing-planmensual"> 
                <div class="planmensual-titulo">
                    <img src="assets/img/gym/fitness.png"> <!-- mejorar la calidad del icono -->
                    <p>Tu plan mensual</p>
                </div>
                <div class="planmensual-tuplan">
                    <div class="titulo">
                        <p>3 días/semana</p>
                    </div>
                    <div class="diashorario">
                        <div>
                            <p class="dia">LUN</p>
                            <p class="horario">16hs</p>
                        </div>
                        <div>
                            <p class="dia">MIE</p>
                            <p class="horario">16hs</p>
                        </div>
                        <div>
                            <p class="dia">MIE</p>
                            <p class="horario">19hs</p>
                        </div>
                    </div>            
                </div>
                <div class="plan"><p>¿Querés cambiar tu plan?</p></div>
                <button><p>Cambiar plan</p></button> <!-- agregar alguna animacion al clickear -->
            </div>
        
            <div class="window_turno_alumnos" id="window_turno_alumnos">
                <button id="window_turno_alumnos_close">X</button>
                <h1>Alumnos que van al mismo horario que tu!</h1>

                <div class="alumnos_wrapper">
                </div>

            </div>
        </div>
        <div class="fill-mediaquery"></div>
    </div>

</body>
<script src="{% static 'js/model.js' %}">
    
</script>
</html>