<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/styles_menu.css">
    <link rel="stylesheet" href="assets/styles_menu-celu.css">
    <link rel="stylesheet" type="text/css" href="assets/styles_alumnos-turnos.css">
    
    <title>Gym House: turnos</title>
</head>
<body>

    <nav class="menu">
        <div class="menu_icons">
            <ul>
                <li>
                    <a href="index_alumnos.html">
                        <img class="logo" src="assets/images/logo.png">
                    </a> 
                </li> 
                <li>
                    <a href="alumnos_perfil.html">
                        <img src="assets/images/user.png">
                        <p>Perfil</p>
                    </a>
                </li> 
                <li> 
                    <a href="alumnos_entrenar.html">
                        <img src="assets/images/gym/gym.png">
                        <p>Entrenar</p> 
                    </a> 
                </li>
                <li>
                    <a href="alumnos_noticias.html">
                        <img src="assets/images/edit.png">
                        <p>Noticias</p>
                    </a>
                </li>
                <li>
                    <a href="alumnos_turnos.html">
                        <img src="assets/images/calendar.png">
                        <p>Turnos</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="shifts" id="shifts">
        <div class="shifts_table" id="shifts_table">
            <h1>TURNOS</h1>
            <div class="shifts_days--monday" id="shifts_days--monday">
                <h3 class="shifts_days" id="shifts_days--l">Lunes</h3>
                <div class="shift_info--overflow">
                    <div class="shift_info--conteiner">
                        <div class="shifts_info" id="shifts_info--l13">
                            <p class="shifts_info--hour">13hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--l14">
                            <p class="shifts_info--hour">14hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--l15">
                            <p class="shifts_info--hour">15hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--l16">
                            <p class="shifts_info--hour">16hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--l17">
                            <p class="shifts_info--hour">17hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--l18">
                            <p class="shifts_info--hour">18hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--l19">
                            <p class="shifts_info--hour">19hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--l20">
                            <p class="shifts_info--hour">20hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--l21">
                            <p class="shifts_info--hour">21hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--l22">
                            <p class="shifts_info--hour">22hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="shifts_days--tuesday" id="shifts_days--tuesday">
                <h3 class="shifts_days" id="shifts_days--m">Martes</h3>
                <div class="shift_info--overflow">
                    <div class="shift_info--conteiner">
                        <div class="shifts_info" id="shifts_info--m13">
                            <p class="shifts_info--hour">13hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--m14">
                            <p class="shifts_info--hour">14hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--m15">
                            <p class="shifts_info--hour">15hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--m16">
                            <p class="shifts_info--hour">16hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--m17">
                            <p class="shifts_info--hour">17hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--m18">
                            <p class="shifts_info--hour">18hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--m19">
                            <p class="shifts_info--hour">19hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--m20">
                            <p class="shifts_info--hour">20hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--m21">
                            <p class="shifts_info--hour">21hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="shifts_days--wednesday" id="shifts_days--wednesday">
                <h3 class="shifts_days" id="shifts_days--mi">Miércoles</h3>
                <div class="shift_info--overflow">
                    <div class="shift_info--conteiner">
                        <div class="shifts_info" id="shifts_info--mi13">
                            <p class="shifts_info--hour">13hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi14">
                            <p class="shifts_info--hour">14hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi15">
                            <p class="shifts_info--hour">15hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi16">
                            <p class="shifts_info--hour">16hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi17">
                            <p class="shifts_info--hour">17hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi18">
                            <p class="shifts_info--hour">18hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi19">
                            <p class="shifts_info--hour">19hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi20">
                            <p class="shifts_info--hour">20hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--mi21">
                            <p class="shifts_info--hour">21hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shifts_days--thursday" id="shifts_days--thursday">
                <h3 class="shifts_days" id="shifts_days--j">Jueves</h3>
                <div class="shift_info--overflow">
                    <div class="shift_info--conteiner">
                        <div class="shifts_info" id="shifts_info--j13">
                            <p class="shifts_info--hour">13hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--j14">
                            <p class="shifts_info--hour">14hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--j15">
                            <p class="shifts_info--hour">15hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--j16">
                            <p class="shifts_info--hour">16hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--j17">
                            <p class="shifts_info--hour">17hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--j8">
                            <p class="shifts_info--hour">18hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--j19">
                            <p class="shifts_info--hour">19hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--j20">
                            <p class="shifts_info--hour">20hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--j21">
                            <p class="shifts_info--hour">21hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shifts_days--friday" id="shifts_days--friday">
                <h3 class="shifts_days" id="shifts_days--v">Viernes</h3>
                <div class="shift_info--overflow">
                    <div class="shift_info--conteiner">
                        <div class="shifts_info" id="shifts_info--v13">
                            <p class="shifts_info--hour">13hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--v14">
                            <p class="shifts_info--hour">14hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--v15">
                            <p class="shifts_info--hour">15hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--v16">
                            <p class="shifts_info--hour">16hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--v17">
                            <p class="shifts_info--hour">17hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--v18">
                            <p class="shifts_info--hour">18hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--v19">
                            <p class="shifts_info--hour">19hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--v20">
                            <p class="shifts_info--hour">20hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                        <div class="shifts_info" id="shifts_info--v21">
                            <p class="shifts_info--hour">21hs</p>
                            <p class="shifts_info--prof">Prof. Javi</p>
                            <button class="shifts_info--pupils"><p>Alumnos</p></button>
                        </div>
                    </div>
                </div>
            </div>    
        </div>

        <div class="landing-planmensual"> <!-- subir un poco el sombreado para que se vea por arriba -->
            <div class="planmensual-titulo">
                <img src="assets/img/gym/fitness.png"> <!-- mejorar la calidad del icono -->
                <p>Tu plan mensual</p>
            </div>
            <div class="planmensual-tuplan">
                <div class="titulo">
                    <p>3 días/semana</p>
                </div>
                <div class="diashorario">
                    <div>
                        <p class="dia">LUN</p>
                        <p class="horario">16hs</p>
                    </div>
                    <div>
                        <p class="dia">MIE</p>
                        <p class="horario">16hs</p>
                    </div>
                    <div>
                        <p class="dia">MIE</p>
                        <p class="horario">19hs</p>
                    </div>
                </div>            
            </div>
            <div class="plan"><p>¿Querés cambiar tu plan?</p></div>
            <button><p>Cambiar plan</p></button> <!-- agregar alguna animacion al clickear -->
        </div>

        <div class="fill-mediaquery"></div>
    </section>

</body>
</html>