/* FONTS */
@font-face {
    font-family: "raleway medium";/*500*/
    src: url("fonts/raleway/static/Raleway-Medium.ttf");
}
@font-face {
    font-family: "raleway semibold";/*600*/
    src: url("fonts/raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: "raleway bold";/*700*/
    src: url("fonts/raleway/static/Raleway-Bold.ttf");
}
@font-face {
    font-family: "raleway extrabold";/*800*/
    src: url("fonts/raleway/static/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "raleway black";/*900*/
    src: url("fonts/raleway/static/Raleway-Black.ttf");
}
html{
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    background: #fafafa; 
    font-size: 1em;
    line-height: 1.5em;
}
/* fin de FONTS */

/* secciones ------------------------*/
.screen{
    height: 101vh;
    width: 92vw;
    margin: 2% 8px auto auto;
    display:flex;
    margin-right: 0;
    /* border: 1px rgb(0, 0, 0) solid; */
}
.screen-secciones{
    width: 93%;
    height: fit-content;
    margin: 0rem 2rem;
    /* border: dotted 1px black; */
}
.seccion{
    width: 100%;
    height: fit-content;
    background: #7876FF;
    border-radius: 16px;
    transition: all 1s ease-in;
    margin: 0rem auto 1rem;
    padding: 1rem;
}
.seccion > div{
    width: 100%;
    display: flex;
    cursor: pointer;
    align-content: space-between;
    margin: auto;
    /* border: 1px rgb(0, 0, 0) dashed; */
}
.seccion > div > h2{
    height: fit-content;
    font-family: "raleway bold";
    font-size: 2.2rem;
    color: white;
    /* border: 1px solid black; */

    margin: auto auto auto 2%;;
}
.seccion > div > img{
    width: 3rem;
    transform: rotate(-90deg);
    margin: auto 2% auto auto;
    filter: invert(1);

    /* border: 1px solid black; */
}

.seccion > div > img.desplegado{
    width: 3rem;
    transform: rotate(90deg);
    /* border: 1px solid black; */
    margin: auto 2% auto auto;
}

.plegable{
    height: 0px;
    display:none;
    overflow:hidden;
    
    display: flex;
    transition: height 1s ease;
    max-width: 98%;
    flex-wrap: wrap;
    margin: 1rem;
    
}
div.plegable.desplegado{
    height: 600px;
    height: fit-content;
    display: flex;
    
    width: 90%;
    transition: height 1s ease;
    margin: 2rem auto 0;
    /* border: 1px solid black; */
    
}
div.plegable.desplegado > .ejercicio{
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem 1rem 0;
}

.screen-ejercicio{
    width: 40%;
    height: fit-content;
    margin: 0 2rem;
    padding-top: 3rem;
    border-radius: 18px;
    background: #BACCFF;
}
.fecha{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.fecha input{
    width: 80%;
    border-radius: 18px;
    border: none;
    padding: 0.5rem 1rem;
    margin: auto auto 2rem;
    font-family: 'raleway bold';
    font-size: 1.2rem;
}
.form_ejercicios input{
    width: fit-content;
    height: fit-content;
    border-radius: 14px;
    border: none;
    background-color: #5135FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content: center;
    margin: 1rem auto;
    padding: 1rem 3rem;
    cursor: pointer;
    transition: all .5s ease;
    font-family: "raleway bold";
    color: white;
    font-size: 1.6rem;
}
.selecciongenero{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 18px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin: 2rem auto 0;
    border: none;
}
.fecha h1{
    margin: auto auto 1rem;
    font-family: "raleway bold";
    font-size: 2rem;

}
.screen-ejercicio > .ejercicio{
    width: 90%;
    min-width: 8rem;
    max-width: 90%;
    margin: 0 auto 3%;
    background: #282828;
}
.screen-ejercicio > .ejercicio-pasos{
    width: auto;
    margin: auto;
    padding: 1.6rem 2rem;
    background: #D6E1FF;
}
.ejercicio-pasos > form{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-flow: column-reverse;
    flex-direction: column-reverse;
}
.ejercicio > input{
    position: absolute;
    z-index: 2;
    opacity: 0;
}
.ejercicio-pasos > form > div > .ejercicios__wrapper
{
    display: flex;
    flex-wrap: wrap;
}
.ejercicio-pasos > form > div > .ejercicios__wrapper > .ejercicio.none
{
    display: none;
}
/* .clicked{
    pointer-events: none;
} */
.ejercicio__buttonQuitar{
    display: none;
    position: absolute;
    width: fit-content;
    right: -.7rem;
    top: -.8rem;
    z-index: 5;
    border-radius: 30%;
    border-color: transparent;
    background-color: rgb(239, 35, 35);
    font-size: 2rem;
    line-height: 1.5rem;
    color: white;
    cursor: pointer;
}
.ejercicio-pasos > form > div .ejercicio__buttonQuitar{
    display: block;
}
.ejercicio-pasos > form > div > h2
{
    width: 100%;
}

.screen-ejercicio > .ejercicio-pasos p{
    font-family:"raleway medium";
    font-size: 1.4rem;
    padding: 0.5rem 0;
}
.ejercicio-video{
    margin: 2rem;
}
.ejercicio-video img{
    width: 100%;
    margin: auto
}


.entrenar-botones{
    width: 100%;
    /* border: 1px solid black; */
}
.entrenar-botones h3{
    font-family: "raleway bold";
    font-size: 1.6rem;
}
.botones{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
}
.botones button{
    width: fit-content;
    height: fit-content;
    border-radius: 14px;
    border-color: transparent;
    background-color: #5135FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content: center;
    margin: auto 0;
    padding: 1rem 3rem;
    cursor: pointer;
    transition: all .5s ease;
    font-family: "raleway semibold";
    font-size: 1.5rem;
}
.botones button:hover{
    transform: scale(1.08);
}
.botones button a{
    color: white;
    text-decoration: none;
}
.botones input{
    color: white;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    border-radius: 14px;
    border-color: transparent;
    background-color: #5135FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content: center;
    margin: auto 0;
    padding: 1rem 3rem;
    cursor: pointer;
    transition: all .5s ease;
    font-family: "raleway semibold";
    font-size: 1.5rem;
}
/*--------------------------------*/
@media (max-width: 1100px) {}
@media (max-width: 700px) {
    *{
        letter-spacing: 0.6px;
    }
    .landing{
        width: 100%;
        margin: auto;
    }
    .screen{
        width: 100%;
        height: fit-content;
        display: block;
    }
    .seccion > div > h2{
        font-family: "raleway semibold";
        font-size: 2rem;
    }
    .screen-secciones{
        width: 90%;
        margin: 0 1rem;
    }
    .screen-ejercicio{
        width: 93%;
        margin: 1rem auto 8rem;
    }
    .ejercicio-video{
        margin:2rem;
    }
    .ejercicio-video img{
        width: 100%;
        margin: auto;
        padding: 0 0 2rem;
    }
}
/*-------------------------------*/