/* FONTS */
@font-face {
    font-family: "raleway regular";/*400*/
    src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
    font-family: "raleway medium";/*500*/
    src: url("../fonts/Raleway/static/Raleway-Medium.ttf");
}
@font-face {
    font-family: "raleway semibold";/*600*/
    src: url("../fonts/Raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: "raleway bold";/*700*/
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}
@font-face {
    font-family: "raleway extrabold";/*800*/
    src: url("../fonts/Raleway/static/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "raleway black";/*900*/
    src: url("../fonts/Raleway/static/Raleway-Black.ttf");
}

@font-face {
    font-family: "nunito black";
    src: url("../fonts/Nunito/static/Nunito-Black.ttf");
}

@font-face {
    font-family: "nunito extrabold";
    src: url("../fonts/Nunito/static/Nunito-ExtraBold.ttf");
}

@font-face {
    font-family: "nunito bold";
    src: url("../fonts/Nunito/static/Nunito-Bold.ttf");
}
/*FIN FONTS-----------------------------------------------------------------------------------------------------*/

/*INICIALIZACION--------------------------------------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100%;
    font-size: 1em;
    background-color: #eceef3;
    line-height: 1.5em;
}
/*--------------------------------------------------------------------------------------------------------------*/
.turnos{
    width: 100vw;
    display: flex;
    padding: 2rem 1rem 1rem 9rem;
}
.shifts{
    width: 70%;
}
.acomodar{
    width: 30%;
}

/*shift table-title*/
.shifts_table{
    background: rgba(209, 202, 255, 0.9);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 35%);
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 12fr;
    padding: 1rem;
    margin-right: 2rem;
}

.shifts_table h1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
    font-family: "raleway bold";
    text-align: justify;
    font-size: 3.6rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

/*shift table-days*/
.shifts_table > .shifts_days--monday{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.shifts_days--tuesday{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.shifts_days--wednesday{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.shifts_days--thursday{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.shifts_days--friday{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*shift table-info (common style)*/
.shift_info--overflow{
    height: fit-content;
    width: 100%;   
}

.shift_info--overflow::-webkit-scrollbar{
    display: none;
}

.shift_info--conteiner{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.shifts_info{
    width: 90%;
    background: #FFFFFF;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
    align-items: center;
    margin: 0.5rem;
}

.shifts_days{
    font-family: "raleway semibold";
    text-align: justify;
    font-size: max(1.3vw,min(1.2rem));
    font-feature-settings: 'pnum' on, 'lnum' on;
    padding: 2%;
}

.shifts_info--hour{
    font-family: "raleway medium";
    text-align: justify;
    font-size: max(0.85vw,min(1.2rem));
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin: 5% 0 5% 0;
}

.shifts_info--prof{
    font-family: "raleway medium";
    text-align: justify;
    font-size: max(0.85vw,min(1.2rem));
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 5%;
}

.shifts_info--pupils{
    width: 55%;
    min-width: 5rem;
    height: auto;
    border-radius: 14px;
    border-color: transparent;
    background-color: #D6E1FF;
    display:flex;
    justify-content: center;
    margin-bottom: 5%;
}


.shifts_info--pupils p{
    text-decoration: none;
    font-family: "raleway semibold";
    font-size: max(0.8vw,min(1.1rem));
    color: #5135FF;
    display: flex;
    align-content: center;
    justify-self: center;
}

/*Estilo de los horarios asignados*/

.shifts_info--designed{
    width: 90%;
    background: #FFFFFF;
    border-radius: 18px;
    display: flex;
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.37);
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
    align-items: center;
    margin: 0.5rem;
}

.shifts_info--pupils-designed{
    width: 55%;
    min-width: 5rem;
    height: auto;
    border-radius: 14px;
    border-color: transparent;
    background-color: #5135FF;
    display:flex;
    justify-content: center;
    margin-bottom: 5%;
}




.shifts_info--pupils-designed p{
    text-decoration: none;
    font-family: "raleway semibold";
    font-size: max(0.8vw,min(1.1rem));
    color: #D6E1FF;
    display: flex;
    align-content: center;
    justify-self: center;
}

/*--------------------------------------*/
/*classmates*/

.classmates{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
    border-radius: 32px;
    padding: 3rem 2rem;
    margin: 2rem 0 0 0;
}

.classmates_phrase{
    width: auto;
    margin:auto;
}

.classmates_phrase p{
    text-align: center;
    font-family: "raleway semibold";
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    margin: auto;
}

.classmates_names {
    grid-row-start: 2;
    grid-row-end: 3;
    height: fit-content;
}

ol{
    list-style: none;
}

.classmates_names ol{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.classmates_names ol > li{
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    justify-content: flex-start;
    margin: 5% 0 5% 0;
}

.classmates_names img{
    height: 7rem;
    width: auto;
    border: 1.5px solid rgba(0, 0, 0, 0.795);
    border-radius: 50%;
    padding: 0.3rem;
}

.classmates_names p{
    height: 1rem;
    text-decoration: none;
    font-family: "raleway medium";
    font-size: max(1.2vw,min(1.5rem));;
    color: rgb(0, 0, 0);
    display: flex;
    align-content: center;
    margin-left: 1.5rem;
    align-self: center;
}


.fill-mediaquery{
    display: none;
    height: 2rem;
    width: 2rem;
}
 /*----------------------*/
 @media (max-width:800px) {
    .navigation{
        visibility: hidden;
        height: 0;
    }
    .turnos {
        padding: 1rem 1rem 1rem 6rem;
    }
    .classmates {
        padding: 2rem 1rem;
    }
    .fill-mediaquery{
        display: block;
        padding-bottom: 2rem;
    }

 }
 @media (max-width:700px) {
    .navigation{
        visibility: visible;
    }
    .navigation--space{
        height: 0;
    }
    .turnos {
        padding: 1rem;
        display: block;
    }
    .shifts{
        width: 100vw;
    }
    .acomodar {
        width: 100%;
        margin-top: 2rem;
        display: flex;
    }
    .landing-planmensual {
        width: 40%;
        height: fit-content;
    }
    .classmates {
        width: 60%;
        margin: 0 0 0 1rem;
    }
    .fill-mediaquery{
        display: block;
        padding-bottom: 2rem;
    }

 }
 @media (max-width:500px) {
    .turnos {
        padding: 1rem;
        display: block;
    }
    .shifts{
        width: 100%;
    }
    .shifts_table {
        width: 100%;
    }
    .acomodar {
        display: block;
    }
    .landing-planmensual {
        width: 80%;
        margin: auto;
    }
    .classmates {
        width: 90%;
        margin: 2rem auto;
    }
    .fill-mediaquery{
        display: block;
        padding-bottom: 2rem;
    }

 }
 @media (max-width:350px) {
    .landing-planmensual {
        width: 90%;
    }
    .classmates {
        width: 100%;
    }
    .shifts_table {
        padding: 0;
    }
 }