/* FONTS */
@font-face {
    font-family: "raleway regular";/*400*/
    src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
    font-family: "raleway medium";/*500*/
    src: url("../fonts/Raleway/static/Raleway-Medium.ttf");
}
@font-face {
    font-family: "raleway semibold";/*600*/
    src: url("../fonts/Raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: "raleway bold";/*700*/
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}
@font-face {
    font-family: "raleway extrabold";/*800*/
    src: url("../fonts/Raleway/static/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "raleway black";/*900*/
    src: url("../fonts/Raleway/static/Raleway-Black.ttf");
}

@font-face {
    font-family: "nunito black";
    src: url("../fonts/Nunito/static/Nunito-Black.ttf");
}

@font-face {
    font-family: "nunito extrabold";
    src: url("../fonts/Nunito/static/Nunito-ExtraBold.ttf");
}

@font-face {
    font-family: "nunito bold";
    src: url("../fonts/Nunito/static/Nunito-Bold.ttf");
}
/*FIN FONTS-----------------------------------------------------------------------------------------------------*/

/*INICIALIZACION--------------------------------------------------------------------------------------------------------------*/
*,*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration:none;
}

html{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100%;
    font-size: 1em;
    line-height: 1.5em;
}

/*--------------------------------------------------------------------------------------------------------------*/

/*Toda la sección*/
.news{
    width: 100vw;
    max-width: 130rem;
    height: 100vh;
    margin: auto;
    padding: 1rem 1rem 1rem 9rem;
}
/*---------------------------------------------------------*/

/*Slider*/
/* container and cards */
.news_slider {
    width: 100%;
    height: fit-content;
}

.cards {
    display: flex;
    height: fit-content;
    padding: 0 5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.card {
    height: 20rem;
    width: 16rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    overflow: hidden;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: end;
}
.card__content {
    color: #4e4e4e;
    padding: 1rem;
}
.card a{
    width: 100%;
    height: 100%;
    margin: auto;
    display:flex;
    justify-content: center;
}
.card figure{
    width: 100%;
    height: 100%;
}
.card img{
    height: 100%;
}
.news_posts-bigimg{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem auto;     
}
.posts--images{
    margin: auto;
    height: 26rem;
    width: 48%;
    min-width: 25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: end;
    overflow: hidden;
    border-radius: 32px;
}
.posts--images a{
    height: 100%;
    width: 100%;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
.posts--images img{
    width: 100%;
}
/*La franja negra donde va el titulo*/
.post--images-detail{
    z-index: 2;
    height: 4rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post--images-detail p{
    font-family: "raleway medium";
    font-size: 1.6rem;
    margin: auto;
    color: rgb(255, 255, 255);
}
.news_posts--incrementable{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.news_posts--minimized-detailed{
    width: 100%;
    height: fit-content;
    border-radius: 32px;
    background: #F2F2F2;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 0.4rem;
    display: flex;
    overflow: hidden;
}
.news_posts--minimized-detailed img{
    width: 15%;
}
/* .news_posts--incrementable .posts--images:last-of-type {
    width: 45%;
    height: 95%;
    margin: unset;
    border-radius: 32px 0 0 32px;
    align-self: center;
} */
.news_posts--minimized{
    width: 52%;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

.news_posts--minimized-description{
    width: 85%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin:0.8rem;
}
.news_posts--minimized-description p{
    font-family: "raleway bold";
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
    color: #000;
}
.news_posts--minimized-description p:last-child{
    height: fit-content;
    font-family: "raleway medium";
    font-size: 1.4rem;
    color: #000;
}

/*---------------------------------------------------------*/
@media (max-width:1100px) {
    .news_slider{
        display:contents;
    }
    .news{
        padding: 1rem 1rem 1rem 6vw;
    }
    .card {
        height: 16rem;
        width: 13rem;
    }
    .posts--images{
        height: 20rem;
        width: 48%;
    }
    .news_posts--incrementable {
        flex-wrap: wrap;
    }
    .news_posts--minimized-detailed img{
        width: 20%;
    }
    .news_posts--incrementable .posts--images:last-of-type {
        visibility: hidden;
        height: 10rem;
    }
}
@media (max-width:700px) {
    .navigation--space{
        height: 0;
    }
    .news{
        padding: 1rem;
    }
    .cards {
        padding: 0;
        justify-content: space-around;
    }
    .card {
        height: 40vw;
        width: 31vw;
    }
    .card:nth-child(4), .card:nth-child(5), .card:nth-child(6){
        display: none;
    }
    .posts--images{
        height: 20rem;
        width: 100%;
        margin-bottom: 0.4rem;
    }
    .news_posts--minimized-detailed img{
        width: 28%;
    }
}
@media (max-width:450px) {
    .card {
        height: 60vw;
        width: 46vw;
    }
    .card:nth-child(3){
        display: none;
    }
    .news_posts--minimized-detailed img{
        width: 38%;
        height: fit-content;
        margin: auto 0;
    }
}