/* FONTS */
@font-face {
    font-family: "raleway medium";/*500*/
    src: url("fonts/raleway/static/Raleway-Medium.ttf");
}
@font-face {
    font-family: "raleway semibold";/*600*/
    src: url("fonts/raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: "raleway bold";/*700*/
    src: url("fonts/raleway/static/Raleway-Bold.ttf");
}
@font-face {
    font-family: "raleway extrabold";/*800*/
    src: url("fonts/raleway/static/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "raleway black";/*900*/
    src: url("fonts/raleway/static/Raleway-Black.ttf");
}
html{
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    background: #ffffff; 
    font-size: 1em;
    line-height: 1.5em;
}

/* editar/crear una noticia */

.wrapper_noticias {
    width: 100%;
}
.noticias-crearnoticia{
    height: auto;
}
.crearnoticia{
    width: 86%;
    height: fit-content;
    min-height: 52rem;
    background: #fdaeae;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    position: relative;
    top: 0.2rem; bottom: 0;
    right: 0; left: 0;
    margin: 0 auto;
    margin: 8rem auto;
    margin-bottom: 2rem;
}

.turnback{
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.turnback img{
    width: 5rem;
}

.imagen{
    width: 50%;
    height: 20rem;
    background: rgb(27, 27, 27);
    border-radius: 18px;

    position: relative;
    top: -8rem;
    left: 0; right: 0;
    margin: 0 auto;
    margin-top: 13%;

    padding: 2rem;
}
.imagen-subir{
    width: 60%;
    height: 10rem;
    background: rgb(42, 42, 42);
    border-radius: 22px;

    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
}
.imagen-subir label{
    height: 4rem;
    color: rgb(135, 135, 135);
    font-family: "raleway semibold";
    font-size: 2rem;
    text-align: center;

    position:inherit;
    left: 0; right: 0;
    top: 1rem;
    margin: auto;

    /* border: white 1px solid; */
}
.imagen-subir input{
    width: 92%;
    /* height: 100%; */

    position:inherit;
    bottom: 2rem;
    right: 0; left: 0;
    margin:auto;
    
    /* border: white 1px solid; */
}

.texto{
    width: 100%;
    height: fit-content;

    /* border: 1px black solid; */
    /* margin: 16rem auto 3%; */
    position: relative;
    top: -5rem;
}
.texto-titulo{
    width: 100%;
    /* border: 1px black solid; */
}
.texto-titulo input{
    width: 50%;
    height: 2.8rem;

    color: rgb(0, 0, 0);
    font-family: "raleway semibold";
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: none;
    padding: 6px 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    display: flex;
    margin: 0 auto 2rem;
}
.texto-contenido{
    width: 100%;
    height: fit-content;
    display:flex;
    margin: auto;
    /* border: solid 1px black; */
}
.texto-contenido textarea{
    width: 86%;
    /* height: fit-content; */
    min-height: 20rem;
    font-family: "raleway medium";
    font-size: 1.4rem;
    border-style: none;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding: 13px;
    margin: auto;
    resize: vertical;
}

.formato{
    width: 100%;
    height: fit-content;
    background: #131313;    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.formato-texto{
    width: 50%;
    height: 5rem;

    margin: auto 0;
    padding: 0 2rem;
    /* border: 1px dotted white; */
}
.formato-texto button{
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;

}
.formato-texto > button > img{
    width: 2.6rem;
    background: none;

    display:flex;
    align-content: center;
    margin: auto;
}

/* .formato-color{
    width: 50%;
    height: 100%;

    display:flex;
    justify-content: flex-end;
    margin: auto;
    padding: 0 2rem;
    border: 1px dotted white;
}
.formato-color button{
    width: 3rem;
    height: 3rem;
    border-radius: 4px;
    border-color: black;

    margin: auto 0.3rem;
}
.formato-color button#rosa{
    background: #fdaeae;
}
.formato-color button#amarillo{
    background: #fdfdae;
}
.formato-color button#azul{
    background: #aec7fd;
}
.formato-color button#verde{
    background: #b3fdae;
}
.formato-color button#naranja{
    background: #fdccae;
} */

.botones{
    width: 98%;
    height: fit-content;

    bottom: 0;
    display: flex;
    align-content:flex-end ;
    justify-content: center;
    flex-direction: column;
    margin: 2rem  auto;
    
    /* border: 1px solid black; */
    margin-bottom: 2rem;
}
.botones button{
    width: 22rem;
    margin: auto;
}
.publicar{
    background: #5135FF;
    border-radius: 18px;
    border: none;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.publicar p{
    font-family: "raleway bold";
    font-size: 1.6rem;
    color:#d6e1ff;
}
.botones button{
    margin: 0.6rem auto;
}
.descartar{
    background: none;
    border-radius: 18px;
    border: none;
}
.descartar u{
    font-family: "raleway bold";
    font-size: 1.6rem;
    padding: 1rem;
    color:#000000;
}

/*--------------------------------*/
@media (max-width: 1100px){

}
@media (max-width: 700px){
    .wrapper_noticias{
        width: 100%;
    }
    .noticias-crearnoticia{
        width: 100%;
    }
    .crearnoticia{
        width: 98%;
        height: fit-content;
        min-height: 30rem;
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
    }
    .imagen{
        width: 70%;
        height: 16rem;
    }
    .imagen-subir{
        width: 70%;
    }
    .imagen-subir label{
        font-size: 1.8rem;
    }
    .texto{
        margin: 0 auto 3%;
    }
    .texto-titulo input{
        width: 70%;
        font-size: 1.6rem;
        margin: 0 auto 1rem;
    }
    .texto-contenido textarea{
        height: 10rem;
        font-size: 1.4rem;
        border-style: none;
        border-radius: 6px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
        padding: 13px;
        margin: 0 auto;
        resize: none;
    }

    .formato-texto{
        width: 100%;
    }
}
/*-------------------------------*/