
@font-face {
    font-family: "raleway_medium";/*500*/
    src: url("../fonts/Raleway/static/Raleway-Medium.ttf");
}
@font-face {
    font-family: "raleway semibold";/*600*/
    src: url("../fonts/raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: "raleway bold";/*700*/
    src: url("../fonts/raleway/static/Raleway-Bold.ttf");
}
@font-face {
    font-family: "raleway extrabold";/*800*/
    src: url("../fonts/raleway/static/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "raleway black";/*900*/
    src: url("../fonts/raleway/static/Raleway-Black.ttf");
}

*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

/* Todo clean para que te diviertas :D */