/* FONTS */
@font-face {
    font-family: "raleway regular";/*400*/
    src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
    font-family: "raleway medium";/*500*/
    src: url("../fonts/Raleway/static/Raleway-Medium.ttf");
}
@font-face {
    font-family: "raleway semibold";/*600*/
    src: url("../fonts/Raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: "raleway bold";/*700*/
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}
@font-face {
    font-family: "raleway extrabold";/*800*/
    src: url("../fonts/Raleway/static/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "raleway black";/*900*/
    src: url("../fonts/Raleway/static/Raleway-Black.ttf");
}

@font-face {
    font-family: "nunito black";
    src: url("../fonts/Nunito/static/Nunito-Black.ttf");
}

@font-face {
    font-family: "nunito extrabold";
    src: url("../fonts/Nunito/static/Nunito-ExtraBold.ttf");
}

@font-face {
    font-family: "nunito bold";
    src: url("../fonts/Nunito/static/Nunito-Bold.ttf");
}
/*FIN FONTS-----------------------------------------------------------------------------------------------------*/

/*INICIALIZACION--------------------------------------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100%;
    font-size: 1em;
    background-color: #eceef3;
    line-height: 1.5em;
}
/*--------------------------------------------------------------------------------------------------------------*/
.turnos{
    /* width: 100vw; */
    display: flex;
    padding: 2rem 1rem 1rem 9rem;
    overflow-y: hidden;
}
.shifts{
    width: 70%;
}
.acomodar{
    width: 30%;
    overflow: hidden;
    position: relative;
}
.shifts_info > .alumnos{
    display: none;
}

/*shift table-title*/
.shifts_table{
    background: rgba(209, 202, 255, 0.9);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 35%);
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 12fr;
    padding: 1rem;
    margin-right: 2rem;
}
.shifts_table h1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
    font-family: "raleway bold";
    text-align: justify;
    font-size: 3.6rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
/*shift table-days*/
.shifts_table > .shifts_days--monday{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.landing-planmensual a {
    width: 15rem;
    height: 4rem;
    border-radius: 18px;
    border-color: transparent;
    background-color: #5135FF;
    font-family: "raleway semibold";
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: all .5s ease;
}
.shifts_days--tuesday{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.shifts_days--wednesday{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.shifts_days--thursday{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.shifts_days--friday{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/*shift table-info (common style)*/
.shift_info--overflow{
    height: fit-content;
    width: 100%; 
}
.shift_info--overflow::-webkit-scrollbar{
    display: none;
}
.shift_info--conteiner{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shifts_info{
    width: 90%;
    background: #FFFFFF;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
    align-items: center;
    margin: 0.5rem;
}
.shifts_days{
    font-family: "raleway semibold";
    text-align: justify;
    font-size: 1.2rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    padding: 2%;
}
.shifts_info--hour{
    font-family: "raleway medium";
    text-align: justify;
    font-size: max(0.85vw,min(1.2rem));
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 5%;
}

.shifts_info--prof{
    font-family: "raleway medium";
    text-align: justify;
    font-size: max(0.85vw,min(1.2rem));
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 5%;
}

.shifts_info--pupils{
    width: 55%;
    min-width: 5rem;
    height: auto;
    border-radius: 14px;
    border-color: transparent;
    background-color: #D6E1FF;
    display:flex;
    justify-content: center;
}
/* .shifts_info--pupils.element_clicked
{   
    transition: all .3s ease;
    background-color: #484e61;
} */

.shifts_info--pupils p{
    text-decoration: none;
    font-family: "raleway semibold";
    font-size: max(0.8vw,min(1.1rem));
    color: #5135FF;
    display: flex;
    align-content: center;
    justify-self: center;
    cursor: pointer;
}

/*Mensual suscription*/

.landing-planmensual{
    /* height: 30rem; */
    /* align-self: start; */
    /* width: 90%; */
    min-width: 17rem;
    /* grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 5vh; */
    padding: 4px 0 20px;
    background-color:#FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 24px;
    /* border: 1px rgb(0, 255, 47) dashed; */
}
.planmensual-titulo img{
    width: 5rem;
    display:flex;
    justify-content: center;
    margin: 10px auto 1%;
    /* border: 1px black dashed; */
}
.planmensual-titulo p{
    font-family: "raleway semibold";
    font-size: 2rem;
    text-align: center;
    margin: 2px auto 10px;
    /* border: 1px black dashed; */
}
.planmensual-tuplan{
    height: auto;
    width: 80%;
    margin: 0 auto;
}
.titulo{
    height:fit-content;
    margin: 10px 0 1px;
    background:#b8b4ff;
    border-radius: 10px 10px 0 0;
    /* border: 1px rgb(255, 0, 0) dashed; */
}
.titulo p{
    font-family: "raleway semibold";
    font-size: 1.5rem;
    text-align: center;
    padding: 8px 0 8px;
    margin: 0 0 3.6px;
    /* border: 1px black dashed; */
}
.diashorario{
    display:flex;
    justify-content: space-between;
}
.diashorario div{
    width: 32.4%;
    background:#b8b4ff;
    /* border: 1px black dashed; */
}
.dia{
    font-family: "raleway semibold";
    text-align: center;
    font-size: 2rem;
    margin: 14px 0 9px;
}
.horario{
    font-family: "raleway semibold";
    text-align: center;
    font-size: 1.6rem;
    margin: 0 0 14px;
}
.plan p{
    font-family: "raleway semibold";
    font-size: max(0.9vw,min(1.4rem));
    text-align: center;
    margin: 16px 0 8px;
}
.landing-planmensual button{
    width: 23%;
    min-width: 14rem;
    height: 16%;
    min-height: 4rem;
    border-radius: 14px;
    border-color: transparent;
    background-color: #5135FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content: center;
    margin: 0 auto 3px;
}
.landing-planmensual button p{
    text-decoration: none;
    font-family: "raleway semibold";
    font-size: max(0.75vw,min(1.4rem));
    color: white;
    display: flex;
    align-content: center;
    margin: auto;
}


.window_turno_alumnos{
    margin: 2rem auto 0;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    min-height: 16rem;
    transition: all 1s ease;
    justify-self: center;
    position: absolute;
    bottom: -110%;
    transition: .3s all ease;
}
.window_turno_alumnos.active
{
    bottom:50% ;
}
.window_turno_alumnos button{
    font-weight: 800;
    padding: 0.5rem 1rem;
    margin:2rem;
    border: none;
    background-color: #b8b4ff;
    color:#5135FF;
    border-radius: 10px;
    cursor: pointer;
}
.window_turno_alumnos h1{
    font-family: "raleway bold";
    font-size: 1.8rem;
    margin: auto;
    text-align: center;
    padding: 0 1.2rem 2rem;
}
.alumnos_wrapper{
    padding: 0 1.2rem 2rem;
}
.alumnos_wrapper ul{
    height: fit-content;
    width: 100%;
}
.alumnos_wrapper li{
    font-family: "raleway semibold";
    font-size: 1.6rem;
    margin: 0 auto 1rem;
    display: flex;
    align-items: center;
}
.alumnos_wrapper li img{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    margin-right: 1rem;
}

@media (max-width:700px) {
    .turnos {
        padding: 1rem;
        display: block;
    }
    .shifts{
        width: 100%;
    }
    .shifts_table {
        margin-right: 0;
    }
    .acomodar {
        width: 100%;
    }
    .landing-planmensual{
        margin: 2rem 0;
    }
    .window_turno_alumnos{
        margin-bottom: 10rem;
    }
}