/* FONTS */
@font-face {
    font-family: "raleway medium";/*500*/
    src: url("fonts/raleway/static/Raleway-Medium.ttf");
}
@font-face {
    font-family: "raleway semibold";/*600*/
    src: url("fonts/raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: "raleway bold";/*700*/
    src: url("fonts/raleway/static/Raleway-Bold.ttf");
}
@font-face {
    font-family: "raleway extrabold";/*800*/
    src: url("fonts/raleway/static/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "raleway black";/*900*/
    src: url("fonts/raleway/static/Raleway-Black.ttf");
}
html{
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    background: #ffffff; 
    font-size: 1em;
    line-height: 1.5em;
}

.wrapper_noticias {
    width: 100vw;
}
.noticia{
    width: 80%;
    max-width: 110rem;
    height: fit-content;
    min-height: 52rem;
    background: #fdaeae;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    position: relative;
    top: -4rem; bottom: 0;
    right: 0; left: 0;
    /* margin: 0 auto; */
    margin: auto;
    margin-bottom: 2rem;
}

.turnback{
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.turnback img{
    width: 5rem;
}

.imagen{
    width: 50%;
    height: 20rem;
    background: rgb(27, 27, 27);
    border-radius: 18px;
    position: relative;
    top: -8rem;
    left: 0; right: 0;
    margin: 0 auto;
    margin-top: 13%;
    overflow: hidden;
}
.imagen img{
    width: 100%;
    height: 100%;
}

.texto{
    width: 100%;
    height: fit-content;
    position: relative;
    top: -5rem;
}
.texto-titulo{
    width: 100%;
    height: fit-content;
    text-align: center;
}
.texto-titulo h3{
    font-family: "raleway bold";
    font-size: 2.6rem;
}
.texto-contenido{
    width: 90%;
    height: fit-content;
    display:flex;
    margin: auto;
}
.texto-contenido p{
    height: fit-content;
    font-family: "raleway medium";
    font-size: 1.4rem;
    padding: 2rem 1rem;
    margin:0;
    width: 100%;
    border-radius: 8px;
    background-color: #ffffff;
}

.formato{
    height: fit-content;
    background: #131313;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.icons{
    height: 100%;
    width: fit-content;
    /* padding: 1% 0 0 2%; */
    display: flex;
}

.icons i{
    font-size: 3rem;
    margin: 1rem 0 1rem 2rem;
    color: #fff;
}

.formato-texto{
    width: 23rem;
    height: 5rem;

    margin: auto 0;
    padding: 0 0 0 2rem;
    /* border: 1px dotted white; */
}
.formato-texto button{
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;

}
.formato-texto > button > img{
    width: 2.4rem;
    background: none;

    display:flex;
    align-content: center;
    margin: auto;
}

/*---------------------------------------------------------*/
.coments{
    padding-bottom: 1rem 0;
}
.coments-overflow{
    overflow-y: auto;
    height: 20rem;
}
.coments-overflow::-webkit-{
    width: .6rem;
}
 .coments-overflow::-webkit-scrollbar-thumb
{
    background-color: rgba(88, 86, 86, 0.426);
    width: 100%;
    border-radius: 20px;
    border-color: transparent;
}
.coments--user{
    width: 88%;
    margin:auto;
    background: #FFFFFF;
    border-radius: 5px 32px 32px 32px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}
.coments--userinfo{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.coments--userinfo img{
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    margin-right: 1rem;
}
.coments--userinfo h5{
    font-family: "raleway semibold";
    font-size: 1.6rem;
    margin:0;
}
.coments--user p{
    font-family: "raleway medium";
    font-size: 1.4rem;
    margin:1rem 0 0.4rem 0;
}
.input_comment{
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    /* margin: auto; */
}
.inputtext{
    width: 100%;
    max-width: 88rem;
    height: auto;
    padding: 1rem;
    border-radius: 18px;
    border: none;
    background: #fff;
    margin-right: 1rem;
}
.boton{
    border-radius: 18px;
    border: none;
    background-color: #5135FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    font-family: "raleway semibold";
    font-size: 1.7rem;
    color: white;
    padding: 1.3rem 3rem;
}


/*--------------------------------*/
@media (max-width: 1100px){
    .noticia{
        top: 0rem;
    }
}
@media (max-width: 700px){
    .noticia{
        width: 98%;
        height: fit-content;
        min-height: 30rem;
        border-top-left-radius: 80px;
        border-top-right-radius: 80px;
        margin: 0 auto 2rem;
        top: 3rem;
    }
    .imagen{
        width: 70%;
        height: 16rem;
    }
    .texto{
        margin: 0 auto -2rem;
    }
    .texto-titulo h3{
        width: 70%;
        font-size: 1.6rem;
        margin: 0 auto 1rem;
    }
    .texto-contenido p{
        font-size: 1.4rem;
        padding: 13px;
        margin: 0 auto;
    }
    .rellenofinal{
        height: 12rem;
    }
}
@media (max-width: 500px){
    .coments--user{
        width: 80%;
    }
}
@media (max-width: 350px){
    .coments--user{
        width: 78%;
    }
}