/* FONTS */
@font-face {
    font-family: "raleway regular";/*400*/
    src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
    font-family: "raleway medium";/*500*/
    src: url("../fonts/Raleway/static/Raleway-Medium.ttf");
}
@font-face {
    font-family: "raleway semibold";/*600*/
    src: url("../fonts/Raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: "raleway bold";/*700*/
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}
@font-face {
    font-family: "raleway extrabold";/*800*/
    src: url("../fonts/Raleway/static/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "raleway black";/*900*/
    src: url("../fonts/Raleway/static/Raleway-Black.ttf");
}

@font-face {
    font-family: "nunito black";
    src: url("../fonts/Nunito/static/Nunito-Black.ttf");
}
@font-face {
    font-family: "nunito extrabold";
    src: url("../fonts/Nunito/static/Nunito-ExtraBold.ttf");
}
@font-face {
    font-family: "nunito bold";
    src: url("../fonts/Nunito/static/Nunito-Bold.ttf");
}

.curve{
    display: none;
}
.wrapper{
    display: none;
}
.navigation{
    display: none;
}
.navigation--space{
    display: none;
}

@media (max-width:800px) {
    .navigation--space{
        display: block;
        height: 80px;
        width: 100%;
        align-self: flex-end;
        justify-content: flex-end;
    }
    .navigation{
        width: 100%;
        height: 70px;
        background: #d6e1ff;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        z-index: 100;
    }
    .navigation ul{
        display: flex;
        width: 100%;
    }
    .navigation ul li{
        position: relative;
        list-style: none;
        width: 20%;
        height: 70px;
        z-index: 110;
    }
    .navigation ul li a{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 500;
        cursor: default;
    }
    .navigation ul li a .icon{
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 1.5em;
        text-align: center;
        transition: 0.5s;
        color: var(--clr);
    }
    .navigation ul li.active a .icon{
        transform: translateY(-32px);
        color: #5135FF;
    }
    .navigation ul li a .text{
        position: absolute;
        color: var(--clr);
        font-weight: 400;
        font-size: 0.75em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(20px);
        background: #5135FF;
        color: #fff;
        padding: 2px 7px;
        border-radius: 12px;
    }
    .navigation ul li.active a .text{
        opacity: 1;
        transform: translateY(-4px);
    }
    .indicator{
        position: absolute;
        width: 20%;
        height: 70px;
        background: #d6e1ff;
        border-radius: 50%;
        transition: 0.5s;
        z-index: 105;
        top: -35px; 
    }
    .indicator::before{
        content: '';
        position: absolute;
        top: 5px;
        width: 30px;
        height: 30px;
        left : -28px;
        border-radius: 50% ;
        background: transparent;
        box-shadow: 15px 18px #d6e1ff;
    }
    .indicator::after{
        content: '';
        position: absolute;
        top: 5px;
        width: 30px;
        height: 30px;
        right: -28px;
        border-radius: 50%;
        background: transparent;
        box-shadow: -15px 18px #d6e1ff;
    }
    .navigation ul li:nth-child(1).active ~ .indicator{
        transform: translateX(calc(100% * 0));
    }
    .navigation ul li:nth-child(2).active ~ .indicator{
        transform: translateX(calc(100% * 1));
    }
    .navigation ul li:nth-child(3).active ~ .indicator{
        transform: translateX(calc(100% * 2));
    }
    .navigation ul li:nth-child(4).active ~ .indicator{
        transform: translateX(calc(100% * 3));
    }
    .navigation ul li:nth-child(5).active ~ .indicator{
        transform: translateX(calc(100% * 4));
    }

/*---------------------------------------------------------*/
    
}