/* FONTS */
@font-face {
    font-family: "raleway medium";/*500*/
    src: url("fonts/raleway/static/Raleway-Medium.ttf");
}
@font-face {
    font-family: "raleway semibold";/*600*/
    src: url("fonts/raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: "raleway bold";/*700*/
    src: url("fonts/raleway/static/Raleway-Bold.ttf");
}
@font-face {
    font-family: "raleway extrabold";/*800*/
    src: url("fonts/raleway/static/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "raleway black";/*900*/
    src: url("fonts/raleway/static/Raleway-Black.ttf");
}
html{
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    background: #ffffff; 
    font-size: 1em;
    line-height: 1.5em;
}

/* editar/crear una noticia */

.noticias-crearnoticia{
    height: auto;
}
.imagen-subir{
    width: 60%;
    height: 10rem;
    background: rgb(42, 42, 42);
    border-radius: 22px;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
}
.imagen-subir label{
    height: 4rem;
    color: rgb(135, 135, 135);
    font-family: "raleway semibold";
    font-size: 2rem;
    text-align: center;

    position:inherit;
    left: 0; right: 0;
    top: 1rem;
    margin: auto;
}
.imagen-subir input{
    width: 92%;
    position:inherit;
    bottom: 2rem;
    right: 0; left: 0;
    margin:auto;
}
.texto-titulo input{
    width: 50%;
    height: 2.8rem;

    color: rgb(0, 0, 0);
    font-family: "raleway semibold";
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: none;
    padding: 6px 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    display: flex;
    margin: 0 auto 2rem;
}
.texto-contenido textarea{
    width: 86%;
    min-height: 20rem;
    font-family: "raleway medium";
    font-size: 1.4rem;
    border-style: none;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 13px;
    margin: auto;
    resize: vertical;
}

.botones{
    width: fit-content;
    height: fit-content;
    /* bottom: 0; */
    display: flex;
    /* align-content:flex-end ; */
    /* justify-content: center; */
    flex-direction: column;
    padding: 0;
    margin: auto;
}
.botones button{
    margin: auto;
}
.publicar{
    width: fit-content;
    background: #5135FF;
    border-radius: 18px;
    padding: 0;
    margin: 0 auto;
    border: none;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.publicar p{
    font-family: "raleway bold";
    font-size: 1.6rem;
    margin: 0;
    padding: 2rem 4rem;
    color:#d6e1ff;
}
.botones button{
    margin: auto auto 2rem;
}
.descartar{
    width: fit-content;
    background: none;
    border-radius: 18px;
    border: none;
    padding: 0;
    margin: 2rem auto;
}
.descartar a{
    font-family: "raleway bold";
    font-size: 1.6rem;
    padding: 1rem;
    color:#000000;
}

/*--------------------------------*/
@media (max-width: 1100px){

}
@media (max-width: 700px){
    .espaciofinal{
        height: 10rem;
    }
    .noticias-crearnoticia{
        width: 100%;
    }
    .imagen-subir{
        width: 70%;
    }
    .imagen-subir label{
        font-size: 1.8rem;
    }
    .texto-titulo input{
        width: 70%;
        font-size: 1.6rem;
        margin: 0 auto 1rem;
    }
    .texto-contenido textarea{
        height: 10rem;
        font-size: 1.4rem;
        border-style: none;
        border-radius: 6px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
        padding: 13px;
        margin: 0 auto;
        resize: none;
    }
}
/*-------------------------------*/