
/* landing */
@font-face {
    font-family: "raleway_medium";/*500*/
    src: url("../fonts/Raleway/Raleway-Medium.ttf");
}
@font-face {
    font-family: "raleway semibold";/*600*/
    src: url("../fonts/Raleway/static/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: "raleway bold";/*700*/
    src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}
@font-face {
    font-family: "raleway extrabold";/*800*/
    src: url("../fonts/Raleway/static/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "raleway black";/*900*/
    src: url("../fonts/Raleway/static/Raleway-Black.ttf");
}

*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    letter-spacing: 0.4px;
    scroll-behavior:smooth;
}

/* Landing page */

.main__background{
    background: linear-gradient(180deg, #9589E8 0%, #261983 96.35%);
    height: fit-content;
}
.main__container{
    height: 80vh;
    display: flex;
    margin: auto;
}
.title__container{
    margin: auto;
}
.main__title--border{
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 10vw;
    color: transparent;
    font-weight: 800;
    letter-spacing: 6.5px;
    -webkit-text-stroke: 3px #DCDCDC;
    text-align: center;
    margin: 0.3rem 0 0 0.7rem;
}
.main__title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 10vw;
    color: #2E1A4E;
    font-weight: 800;
    letter-spacing: 6.5px;
    text-align: center;
}
.main__image{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-left: 0;
}
.main__image img{
    width: 40vw;
    object-fit: contain;
}
.relleno-menu{
    height: 6rem;
    /* width: 100vw; */
}
/*---------------*/
@media (max-width: 1100px) {
    .main__title--border{
        font-size: 9vw;
        font-weight: 800;
    }
    .main__title{
        font-size: 9vw;
        font-weight: 800;
    }
}
@media (max-width: 935px) {
    .main__background{
        z-index: 1;
    }
    .main__container{
        height: 60vh;
    }
    .main__title--border{
        font-size: 12vw;
        line-height: 9rem;
    }
    .main__title{
        font-size: 12vw;
        line-height: 9rem;
    }
    .main__image img{
        width: 40vw;
        margin-right: 3rem;
    }
    .relleno-menu{
        height: 6rem;
        width: 100vw;
    }
}
@media (max-width: 450px) {
    .main__container{
        height: 70vh;
        max-width: 40rem;
    }
    .title__container{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 16vh;
    }
    .main__title--border{
        font-size: 21vw;
        line-height: 8rem;
        margin: 0.5rem 0 0 1.2rem;
    }
    .main__title{
        font-size: 21vw;
        line-height: 8rem;
    }
    .main__image{
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 38vh;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .main__image img{
        width: 80vw;
        margin-right: 3rem;
    }
}


/* navbar */
.menu  {
    width: fit-content;
    margin: auto;
    position: absolute;
    display: flex;
    z-index: 3;
}
.menu-icons{
    display: flex;
    width: fit-content;
    margin: auto;
    margin-left: 0;
    margin-top: 2rem;
}
.nav__items{
    list-style: none;
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 2rem;
}
.nav__items li{
    margin: auto 0.5rem;
}
.nav__items li a{
    text-decoration: none;
    font-family: "raleway semibold";
    font-size: 2rem;
    color: white;
    margin: auto 0.2rem;
}
.nav__items li a:hover{
    text-decoration: none;
    font-family: "raleway semibold";
    font-size: 2rem;
    color: #353535;
    transition-delay: 0.03s;
    transition-duration: 0.16s;
}

.main__button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 20rem;
    min-width: 18rem;
    margin:auto 0;
    cursor: pointer;
    z-index: 2;
}
.main__button button{
    border-radius: 12px;
    border-color: transparent;
    background-color: #5135FF;
    box-shadow: 0px 2px 4px 2px rgb(0 0 0 / 25%);
    text-decoration: none;
    font-family: "raleway bold";
    font-size: 1.6rem;
    color:#ffffff;
    padding: 1.4rem 3.8rem;
}
.main__button button:hover{
    background-color: #3516fc;
    color:#e9e9e9;    
    box-shadow: 0px 0px 4px 1px rgb(0 0 0 / 25%);
}


.menu-toogle {
    width: 4rem;
    height: 4rem;
    position:absolute; 
    text-align:center;
    top: 2rem; 
    right: 6rem;
    transition: all .5s ease; 
    z-index:2;
    display:none; 
}
.menu-toogle img{
    position:absolute;
    top: 0; 
    right: 0;
    height: 4rem;
    width: 4rem;
}
.menu-toogle > .icon-menu{
    visibility: visible;
}
.menu-toogle > .icon-cruz{
    visibility: hidden;
}
.checkbox {
    display:none; 
}

/*----------*/
@media (max-width: 1100px) {}
@media (max-width: 935px) {
    .menu{
        width: 50vw;
        min-width: 20rem;
        max-width: 30rem;
        left: unset;
        visibility: hidden;
        height: fit-content;
        border-radius: 0 0 0 8px;
        background-color: #8674ff;
        position: fixed;
    }
    .menu-icons{
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 6rem 2rem 0rem 1rem;
    }
    .nav__items{
        list-style: none;
        display: flex;
        align-items: flex-start;
        margin-bottom: 1rem;
        margin-left: 0;
        flex-direction: column;
    }
    .nav__items li{
        margin-bottom: 2rem;
    }
    .main__button{
        position: absolute;
        top: 1rem;
        left: 1rem;
        visibility: visible;
    }
    .menu-toogle {
        display: block; 
    }
    .menu-toogle::before {
        display: block; 
    }
    .checkbox:checked ~ .menu {
        right: 0px; 
        left: unset;
        visibility: visible;
        z-index: 1;
    }
    .checkbox:checked ~ .main-w {
        margin-left: 20px; 
    }
    .checkbox:checked ~ .menu-toogle > img.icon-menu{ 
        visibility: hidden; 
    }
    .checkbox:checked ~ .menu-toogle > img.icon-cruz{ 
        visibility: visible;
        height: 2.5rem;
        width: 2.5rem;
    }
}
@media (max-width: 450px) {
    .menu{
        width: 50vw;
        max-width: 30rem;
        left: unset;
        visibility: hidden;
        height: fit-content;
        border-radius: 0 0 0 8px;
        background-color: #8674ff;
        position: fixed;
    }
    .menu-icons{
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 6rem 2rem 0rem 1rem;
    }
    .nav__items{
        list-style: none;
        display: flex;
        align-items: flex-start;
        margin-bottom: 1rem;
        margin-left: 0;
        flex-direction: column;
    }
    .nav__items li{
        margin-bottom: 2rem;
    }
    .main__button{
        position: absolute;
        top: 1rem;
        left: 1rem;
        visibility: visible;
    }
    .main__button button{
        font-family: "raleway bold";
        font-size: 1.4rem;
        padding: 1rem 2.4rem;
    }
    .menu-toogle {
        display: block; 
        top: 1rem; 
        right: 1.6rem;
    }
    .menu-toogle::before {
        display: block; 
    }
    .checkbox:checked ~ .menu {
        right: 0px; 
        left: unset;
        visibility: visible;
        z-index: 1;
    }
    .checkbox:checked ~ .main-w {
        margin-left: 20px; 
    }
    .checkbox:checked ~ .menu-toogle > img.icon-menu{ 
        visibility: hidden; 
    }
    .checkbox:checked ~ .menu-toogle > img.icon-cruz{ 
        visibility: visible;
        height: 2.5rem;
        width: 2.5rem;
    }
}
/* Modal */
.modal_login{
    position: absolute;
    height: fit-content;
    background-color:#8674ff;
    /* left: 0.8rem; */
    /* top: 0.8rem; */
    right: 0;
    border-radius: 18px;
    opacity: 0;
    transition: all .6s ease;
    z-index: 1;
}
.modal_login.active{
    opacity: 1;
    z-index: 3;
}
.modal_login > form{
    display: flex;
    flex-flow: column;
    padding: 0 6rem 3rem;
}
.modal_login > img.login-cruz{
    width: 2.5rem;
    margin: 2rem 2rem auto auto;
    display:block;
}
.modal_login > form > label{
    font-family: "raleway bold";
    font-size: 1.6rem;
    color: white;
    margin: 3px 0;
}
.modal_login > form > input.input{
    padding: 1rem;
    border-radius: 1rem;
    border-color: transparent;
    margin: 0 0 1rem;
    font-family: "raleway semibold";
    font-size: 1.4rem;
}
.modal_login > form >.showPass{
    display: flex;
    flex-direction: row;
    margin:auto;
    
    padding: 0 0 1rem;
}
.modal_login > form > input.checkbox{
    margin:auto;
    background-color: white;
}
.modal_login > form > .showPass p{
    font-family: "raleway semibold";
    font-size: 1.4rem;
    color: white;
    padding: 0 0 0 0.6rem;
    margin:auto;
}
.modal_login > form > #ingresar{
    margin-top: 0.4rem;
    height: 4.3rem;
    border-radius: 12px;
    border-color: transparent;
    background-color: #5135FF;
    text-decoration: none;
    font-family: "raleway bold";
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
}
.modal_login > form > #ingresar:hover{
    background-color: #3516fc;
}
/*----------*/
@media (max-width: 1100px) {}
@media (max-width: 700px) {
    .modal_login{
        top:0;
        left:0;
    }
    .modal_login > form{
        width: 70vw;
        margin: auto;
        padding: 2rem 15vw;
    }
    .modal_login > img.login-cruz{
        width: 2.5rem;
        margin: 2rem 2rem auto auto;
        display:block;
    }
}

/* fin del navbar y modal */
/* Sobre nosotros */

.sobrenosotros{
    /* width: 100vw; */
    text-align: center;
    margin: 2rem 0;
}
.sobrenosotros__titulo{
    font-family: "raleway bold";
    font-size: 4.2rem;
    margin: 0 auto;
    line-height: 70px;
    text-align: center;
}
.sobrenosotros__texto{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.9rem;
    margin: 1rem 10%;
    font-weight: 500;
    text-align: justify;
}
.sobrenosotros__imagenes{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    object-fit: contain;
    padding: 1.5rem 0 4rem;
    flex-wrap: wrap;
}
.sobrenosotros__imagenes figure{
    height: 150px;
    width: 167px;
    margin-top: 70px;
    margin-right:9px;
    background: #4C5967;
    border-radius: 18px;
}
.sobrenosotros__imagenes figure p{
    font-family: "raleway_medium";
    font-size: 2.4rem;
    color: #ffffff;
}
.sobrenosotros__imagenes img{
    width: 175px;
    height: 175px;
    margin-left: -4px;
    margin-top: -70px;
    border-radius: 117px;
}
@media (max-width: 1100px) {}
@media (max-width: 600px) {
    .sobrenosotros__titulo{
        font-family: "raleway bold";
        font-size: 3rem;
    }
    .sobrenosotros__texto{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.8rem;
        margin: 1rem 2rem;
        font-weight: 400;
    }
    .sobrenosotros__imagenes{
        justify-content: space-evenly;
        padding: 0 0 2rem;
    }
    .sobrenosotros__imagenes figure{
        height: 13rem;
        width: 12.2rem;
        margin-right:0;
    }
    .sobrenosotros__imagenes figure p{
        font-family: "raleway semibold";
        font-size: 2rem;
    }
    .sobrenosotros__imagenes img{
        width: 13rem;
        height: 13rem;
        margin-top: -40px;
    }
}

/* fin de sobre nosotros */
/* noticias*/

.noticias{
    width: fit-content;
    height: fit-content;
    display: flex;
    position: relative;
    margin: 2% auto 4%;
    flex-direction: row;
}
.slider-container {
    width: 60vw;
    max-width: 80rem;
    min-width: 24rem;
    height: 30vw;
    max-height: 40rem;
    min-height: auto;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}  
.slider {
    display: flex;
    transform: translateX(var(--slide-transform));
    transition: var(--transition);
    height: 100%;
    position: relative;
    z-index: 1;
}  
.slider__element {
    position: relative;
    z-index: 1;
}
.element__detalle{
    width: 100%;
    height: 60px;
    background-color: #000000aa;
    position: absolute;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.element__detalle h6, .element__detalle p{
    font-size: 1.8rem;
    font-family: "raleway";
    color: white;
}
.slider__element > a {
    width: 100%;
    height: 100%;
    max-height:100% ;
    max-width: 100%;
    background-color: #253645;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
}
.slider__element > a img{
    width: 100%;
    height: 100%;
} 
.slider-button{
    display: flex;
    margin: auto;
    height: 6rem;
    width: 6rem;
}
.slider-button button {
    background: none;
    border: none;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    margin: auto;
}
.slider-button img {
  width: 5rem;
  height: 5rem;
}
/*-------------*/
@media (max-width: 1100px) {
    .slider-container {
        width: 70vw;
        height: 40vw;
        margin:0;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    } 
}
@media (max-width: 600px) {
    .slider-button{
        height: 4rem;
        width: 4rem;
    }
    .slider-button button {
        width: 3rem;
        height: 3rem;
    }
    .slider-button img {
        width: 3rem;
          height: 3rem;
    }
    .element__detalle{
        height: 40px;
    }
    .element__detalle h6, .element__detalle p{
        font-size: 1.7rem;
        font-family: "raleway bold";
    }
}
@media (max-width: 350px) {
    .sobrenosotros__imagenes {
        justify-content: space-evenly;
        padding: 0;
    }
    .sobrenosotros__imagenes figure {
        height: 10.4rem;
        width: 10rem;
        margin-right: 0;
    }
    .sobrenosotros__imagenes img {
        width: 10.8rem;
        height: 10.8rem;
        margin-top: -41px;
    }
    .sobrenosotros__imagenes figure p {
        font-family: "raleway semibold";
        font-size: 1.8rem;
    }
}
/* detalle noticias */

.container__noticia{
   /* width: 100vw;  nashe*/ 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noticia{
    width: 60%;
    height: 90%;
    background-color: #9589E8;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 0 12rem;
}
.noticia_titulo{
    text-align: center;
    font-size: 8rem;
}
.noticia_text{
    font-size: 1.9rem;
}

/*ubicacion*/

.ubicacion{
    background:#252C45;
    /* width: 100vw; */
    text-align: center;
    padding: 5rem 0 5rem;
}
.ubicacion_text{
    width: 60vw;
    font-family: "raleway semibold";
    font-size: 3rem;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    margin: 3rem auto;
}
.ubicacion_mapa{
    width: 60vw;
    height: 30vw;
}
/*---------*/
@media (max-width: 1100px) {
    .ubicacion{
        padding: 4rem 0;
    }
    .ubicacion_text{
        width: 80vw;
        margin: 0 auto;
        padding: 0 0 2rem 0;
    }
    .ubicacion_mapa{
        width: 80vw;
        height: 40vw;
    }
}
@media (max-width: 700px) {
    .ubicacion{
        padding: 3rem 0;
    }
    .ubicacion_text{
        width: 90vw;
        font-family: "raleway semibold";
        font-size: 2.2rem;
        margin: 0 auto;
        padding: 0 0 2rem 0;
    }
    .ubicacion_mapa{
        width: 90vw;
        height: 50vw;
    }
}
@media (max-width: 450px) {
    .ubicacion_text{
        font-size: 1.8rem;
    }
}

/* Horarios */

.horarios{
    width: 80vw;
    margin: 4% auto 0;
}
.horarios__title{
    font-family: "raleway bold";
    font-size: 3.2rem;
    text-align: center;
}
.horarios__text{
    width: 80vw;
    margin: 1rem auto;
    font-size: 2.1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    text-align: center;
}
.agenda{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 4rem auto 0;
}
.dias{
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(5,20%);
    justify-items: center;
    width: 100%;
    max-width: 90rem;
}
.lun div:first-child,.mar div:first-child,.mie div:first-child,.jue div:first-child, .vie div:first-child{
    width: 100%;
    background-color: transparent;
}
.lun h6,.mar h6,.mie h6 ,.jue h6,.vie h6{
    font-size: 1.8rem;
    background-color: #253645;
    color: white;
    height: 7.8rem;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: "raleway bold";
}
.lun h6{
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px;
}
.vie h6{
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
.lun,.mar,.mie,.jue,.vie {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-rows:repeat(6,auto);
    grid-row-gap: 1%;
    justify-items: center;
}
.lun div,.mar div,.mie div,.jue div,.vie div{
    height: 7.8rem;
    width: 99%;
    background-color: #FFE37E;
    margin-top: 1px;
    /* margin-right: 10px; */
    border-radius: 10px;
    align-items: center;
}
/*--------*/
@media (max-width: 1100px) {
    .agenda{
        width: 100%;
    }
}
@media (max-width: 700px) {
    .horarios{
        width: 100vw;
    }
    .horarios__text {
        width: 90vw;
        font-size: 2rem;
        font-weight: 500;
    }
    .agenda{
        width: 96%;
        margin: 2% auto 0;
    }
    .lun h6,.mar h6,.mie h6 ,.jue h6,.vie h6{
        height: 13vw;
        max-height: 7rem;
    }
    .lun div,.mar div,.mie div,.jue div,.vie div{
        height: 13vw;
        max-height: 7rem;
    }
}
@media (max-width: 450px) {
    .horarios__title{
        font-size: 2.6rem;
    }
}
/* contacto */

.contacto{
    background:#ffffff;
    /* width: 100vw; */
    text-align: center;
    margin: 6% auto;
}
.contacto_title{
    font-family: "raleway bold";
    font-size: 4.2rem;
    margin: 0 auto;
    text-align: center;
    margin: 3rem 10%;
}
.contacto_mandarmensaje{
    background: #5135FF;
    border-radius: 18px;
    border: none;
    box-shadow: 0px 4px 4px 2px rgb(0 0 0 / 25%);
}
.contacto_mandarmensaje:hover{
    background-color: #261983;
}
.contacto_mandarmensaje p{
    font-family: "raleway bold";
    font-size: 1.6rem;
    color: #ffffff;
    padding: 2rem 4rem;
}
.contacto_redes{
    width: 100%;
    display:flex ;
    justify-content: center;
    object-fit: contain;
    flex-wrap: wrap;
    margin-top: 6vw;
}
.contacto_redes figure{
    height: 3rem;
    display: flex;
    align-content: center;
    margin: 2%;
}
.contacto_redes img{
    padding-right: 0.4rem;
}
.contacto_redes a{
    display: flex;
    align-items: center;
    font-family: "raleway semibold";
    font-size: 1.8rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    text-decoration: none;
    color:black;
}
/*--------------*/
@media (max-width: 1100px) {
    .contacto_title{
        font-family: "raleway bold";
        font-size: 4rem;
    }
}
@media (max-width: 700px) {
    .contacto_title{
        font-family: "raleway bold";
        margin: 5rem 10% 2rem;
        font-size: 3rem;
    }
    .contacto_mandarmensaje p{
        font-family: "raleway bold";
        font-size: 1.6rem;
        color: #ffffff;
        padding: 1.4rem 2.8rem;
    }
}