<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="header" content="" />
        <link rel="stylesheet" href="assets/styles_menu.css" />
        <link rel="stylesheet" href="assets/styles_menu-celu.css">
        <link rel="stylesheet" href="assets/styles_ejercicios.css" />
        <link rel="stylesheet" href="assets/styles_admin_entrenar-historial.css" />
        <title>Admin: Entrenar - historial</title>
    
    </head>
    <body>
        <nav class="menu">
            <div class="menu_icons">
                <ul> <!-- poner los links correctos -->
                    <li>
                        <a href="index_admin.html">
                            <img class="logo" src="assets/images/logo.png">
                        </a> 
                    </li> 
                    <li>
                        <a class="show-profile" id="show-profile">
                            <img src="assets/images/user.png">
                            <p>Perfil</p>
                        </a>
                    </li> 
                    <li> 
                        <a href="admin_entrenar.html">
                            <img src="assets/images/gym/gym.png">
                            <p>Entrenar</p>
                        </a> 
                    </li>
                    <li>
                        <a href="admin_noticias.html">
                            <img src="assets/images/edit.png">
                            <p>Noticias</p>
                        </a>
                    </li>
                    <li>
                        <a href="admin_turnos.html">
                            <img src="assets/images/calendar.png">
                            <p>Turnos</p>
                        </a>
                    </li>
                    <li>
                        <a href="admin_alumnos.html">
                            <img src="assets/images/users-alt.png">
                            <p>Alumnos</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="navigation" id="navigation">
            <ul>
                <li class="list">
                    <a href="index_admin.html">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="text">Inicio</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="admin_perfil.html">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="text">Perfil</span>
                    </a>
                </li>
                <li class="list">
                    <a href="admin_entrenar.html">
                        <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                        <span class="text">Entrenar</span>
                    </a>
                </li>
                <li class="list">
                    <a href="admin_noticias.html">
                        <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                        <span class="text">Noticias</span>
                    </a>
                </li>
                <li class="list">
                    <a href="admin_turnos.html">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="text">Turnos</span>
                    </a>
                </li>
                <li class="list">
                    <a href="admin_alumnos.html">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="text">Alumnos</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
        <div class="navigation--space" id="navigation--space"></div>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <!-- <script> document.getElementById("eprofile").style.display='none'; </script> -->

        <!-- fin de los menú -->

        <!-- aca empieza -->
        <div class="historialrutinas">

            <div class="historial">
                <form class="pickdate" name="formulario" method="post" action="">
                    <div>
                        <img src="assets/images/calendar.png">
                        <p>Rutina</p>
                    </div>
                    <p>Selecciona la fecha deseada:</p>
                    <input type="date" name="fecha" min="2022-10-12" max="2025-12-31" />
                </form>
                <button>
                    <img src="assets/images/download.svg">
                </button>
                <div class="rutinas">
                    <div class="mujeres">
                        <h1>Mujeres</h1>
                        <div class="categoria">
                            <p>Abdominales</p>
                            <div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                            </div>
                        </div>
                        <div class="categoria">
                            <p>Piernas</p>
                            <div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                            </div>
                        </div>
                        <div class="categoria">
                            <p>Gluteos</p>
                            <div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hombres">
                        <h1>Hombres</h1>
                        <div class="categoria">
                            <p>Brazos</p>
                            <div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                            </div>
                        </div>
                        <div class="categoria">
                            <p>Espalda</p>
                            <div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                            </div>
                        </div>
                        <div class="categoria">
                            <p>Abdominales</p>
                            <div>
                                <div class="ejercicio">
                                    <div class="imgejercicio">
                                        <img src="assets/images/gym/workout.png">
                                    </div>
                                    <p>ejercicio</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="relleno"></div>

    </body>
</html>