{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="header" content="" />
        <link rel="stylesheet" href="{% static 'css/styles_menu.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_menu-celu.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles_ejercicios.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_admin_entrenar-historial.css' %}" />
        <title>Admin: Entrenar - historial</title>
    
    </head>
    <body>
        <nav class="menu">
            <div class="menu_icons">
                <ul> <!-- poner los links correctos -->
                    <li>
                        <a href="{% url 'login_profe' %}">
                            <img class="logo" src="{% static 'images/logo.png' %}">
                        </a> 
                    </li> 
                    <li>
                        <a href="#">
                            <img src="{% static 'images/user.png' %}">
                            <p>Perfil</p>
                        </a>
                    </li> 
                    <li> 
                        <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                            <img src="{% static 'images/gym/gym.png' %}">
                            <p>Entrenar</p>
                        </a> 
                    </li>
                    <li>
                        <a href="{% url 'posts:adminNoticia' %}">
                            <img src="{% static 'images/edit.png' %}">
                            <p>Noticias</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'personas:adminTurnos' %}">
                            <img src="{% static 'images/calendar.png' %}">
                            <p>Turnos</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'personas:adminAlumnos' %}">
                            <img src="{% static 'images/users-alt.png' %}">
                            <p>Alumnos</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="navigation" id="navigation">
            <ul>
                <li class="list">
                    <a href="{% url 'login_profe' %}">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="text">Inicio</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="admin_perfil.html">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="text">Perfil</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                        <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                        <span class="text">Entrenar</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'posts:adminNoticia' %}">
                        <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                        <span class="text">Noticias</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'personas:adminTurnos' %}">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="text">Turnos</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'personas:adminAlumnos' %}">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="text">Alumnos</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
        <div class="navigation--space" id="navigation--space"></div>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <!-- <script> document.getElementById("eprofile").style.display='none'; </script> -->

        <!-- fin de los menú -->

        <!-- aca empieza -->
        <div class="historialrutinas">

            <div class="historial">
                <form class="pickdate" name="formulario" method="get" action="">
                    <div>
                        <img src="assets/images/calendar.png">
                        <p>Rutina</p>
                    </div>
                    <p>Selecciona la fecha deseada:</p>
                    <input class="fecha" type="date" name="fecha" min="2022-10-01" max="2025-12-31" id="date" />
                    <input class="botonito" type="submit">
                </form>
                <div class="rutinas">
                    <div class="mujeres">
                        <h1>Mujeres</h1>
                        {% comment %} {{list_types_woman}} {% endcomment %}
                        {% if "brazos" in list_types_woman %}
                            <div class="categoria">
                                <p>Brazos</p>
                                <div>
                                    {% comment %} {{ejercicios_man}} {% endcomment %}
                                    {% for ejercicio in ejercicios_woman %}
                                        {% if "brazos" in ejercicio.nombre_tipo %}
                                            <div class="ejercicio">
                                                <div class="imgejercicio">
                                                    <img src="{% static 'images/gym/workout.png' %}">
                                                </div>
                                                <p>{{ejercicio.nombre}}</p>
                                            </div>
                                        {% endif %}
                                    
                                    {% endfor %}
                                </div>
                            </div>    
                        {% endif %}
                        
                        {% if "espalda" in list_types_woman %}
                            <div class="categoria">
                                <p>Espalda</p>
                                <div>
                                    {% for ejercicio in ejercicios_woman %}
                                        {% if "espalda" in ejercicio.nombre_tipo %}
                                            <div class="ejercicio">
                                                <div class="imgejercicio">
                                                    <img src="{% static 'images/gym/workout.png' %}">
                                                </div>
                                                <p>{{ejercicio.nombre}}</p>
                                            </div>
                                        {% endif %}
                                    
                                    {% endfor %}
                                </div>
                            </div>    
                        {% endif %}

                        {% if "abdominales" in list_types_woman %}
                            <div class="categoria">
                                <p>Abdominales</p>
                                <div>
                                    {% for ejercicio in ejercicios_woman %}
                                        {% if "abdominales" in ejercicio.nombre_tipo %}
                                            <div class="ejercicio">
                                                <div class="imgejercicio">
                                                    <img src="{% static 'images/gym/workout.png' %}">
                                                </div>
                                                <p>{{ejercicio.nombre}}</p>
                                            </div>
                                        {% endif %}
                                    
                                    {% endfor %}
                                </div>
                            </div>    
                        {% endif %}

                        {% if "gluteos" in list_types_woman %}
                            <div class="categoria">
                                <p>Gluteos</p>
                                <div>
                                    {% for ejercicio in ejercicios_woman %}
                                        {% if "gluteos" in ejercicio.nombre_tipo %}
                                            <div class="ejercicio">
                                                <div class="imgejercicio">
                                                    <img src="{% static 'images/gym/workout.png' %}">
                                                </div>
                                                <p>{{ejercicio.nombre}}</p>
                                            </div>
                                        {% endif %}
                                    
                                    {% endfor %}
                                </div>
                            </div>    
                        {% endif %}

                        {% if "piernas" in list_types_woman %}
                            <div class="categoria">
                                <p>Piernas</p>
                                <div>
                                    {% for ejercicio in ejercicios_woman %}
                                        {% if "piernas" in ejercicio.nombre_tipo %}
                                            <div class="ejercicio">
                                                <div class="imgejercicio">
                                                    <img src="{% static 'images/gym/workout.png' %}">
                                                </div>
                                                <p>{{ejercicio.nombre}}</p>
                                            </div>
                                        {% endif %}
                                    
                                    {% endfor %}
                                </div>
                            </div>    
                        {% endif %}

                        {% if "elongacion" in list_types_woman %}
                            <div class="categoria">
                                <p>Elongación</p>
                                <div>
                                    {% for ejercicio in ejercicios_woman %}
                                        {% if "elongacion" in ejercicio.nombre_tipo %}
                                            <div class="ejercicio">
                                                <div class="imgejercicio">
                                                    <img src="{% static 'images/gym/workout.png' %}">
                                                </div>
                                                <p>{{ejercicio.nombre}}</p>
                                            </div>
                                        {% endif %}
                                    
                                    {% endfor %}
                                </div>
                            </div>    
                        {% endif %}
                    </div>
                    <div class="hombres">
                        <h1>Hombres</h1>
                        
                        {% if "brazos" in list_types_man %}
                            <div class="categoria">
                                <p>Brazos</p>
                                <div>
                                    {% comment %} {{ejercicios_man}} {% endcomment %}
                                    {% for ejercicio in ejercicios_man %}
                                        {% if "brazos" in ejercicio.nombre_tipo %}
                                            <div class="ejercicio">
                                                <div class="imgejercicio">
                                                    <img src="{% static 'images/gym/workout.png' %}">
                                                </div>
                                                <p>{{ejercicio.nombre}}</p>
                                            </div>
                                        {% endif %}
                                    
                                    {% endfor %}
                                </div>
                            </div>    
                        {% endif %}
                        
                        {% if "espalda" in list_types_man %}
                            <div class="categoria">
                                <p>Espalda</p>
                                <div>
                                    {% for ejercicio in ejercicios_man %}
                                        {% if "espalda" in ejercicio.nombre_tipo %}
                                            <div class="ejercicio">
                                                <div class="imgejercicio">
                                                    <img src="{% static 'images/gym/workout.png' %}">
                                                </div>
                                                <p>{{ejercicio.nombre}}</p>
                                            </div>
                                        {% endif %}
                                    
                                    {% endfor %}
                                </div>
                            </div>    
                        {% endif %}

                        {% if "abdominales" in list_types_man %}
                            <div class="categoria">
                                <p>Abdominales</p>
                                <div>
                                    {% for ejercicio in ejercicios_man %}
                                        {% if "abdominales" in ejercicio.nombre_tipo %}
                                            <div class="ejercicio">
                                                <div class="imgejercicio">
                                                    <img src="{% static 'images/gym/workout.png' %}">
                                                </div>
                                                <p>{{ejercicio.nombre}}</p>
                                            </div>
                                        {% endif %}
                                    
                                    {% endfor %}
                                </div>
                            </div>    
                        {% endif %}

                        {% if "gluteos" in list_types_man %}
                            <div class="categoria">
                                <p>Gluteos</p>
                                <div>
                                    {% for ejercicio in ejercicios_man %}
                                        {% if "gluteos" in ejercicio.nombre_tipo %}
                                            <div class="ejercicio">
                                                <div class="imgejercicio">
                                                    <img src="{% static 'images/gym/workout.png' %}">
                                                </div>
                                                <p>{{ejercicio.nombre}}</p>
                                            </div>
                                        {% endif %}
                                    
                                    {% endfor %}
                                </div>
                            </div>    
                        {% endif %}

                        {% if "piernas" in list_types_man %}
                            <div class="categoria">
                                <p>Piernas</p>
                                <div>
                                    {% for ejercicio in ejercicios_man %}
                                        {% if "piernas" in ejercicio.nombre_tipo %}
                                            <div class="ejercicio">
                                                <div class="imgejercicio">
                                                    <img src="{% static 'images/gym/workout.png' %}">
                                                </div>
                                                <p>{{ejercicio.nombre}}</p>
                                            </div>
                                        {% endif %}
                                    
                                    {% endfor %}
                                </div>
                            </div>    
                        {% endif %}

                        {% if "elongacion" in list_types_man %}
                            <div class="categoria">
                                <p>Elongación</p>
                                <div>
                                    {% for ejercicio in ejercicios_man %}
                                        {% if "elongacion" in ejercicio.nombre_tipo %}
                                            <div class="ejercicio">
                                                <div class="imgejercicio">
                                                    <img src="{% static 'images/gym/workout.png' %}">
                                                </div>
                                                <p>{{ejercicio.nombre}}</p>
                                            </div>
                                        {% endif %}
                                    
                                    {% endfor %}
                                </div>
                            </div>    
                        {% endif %}

                    </div>
                </div>
            </div>


        </div>
        <div class="relleno"></div>

    </body>
    <script src ="{% static 'js/historial_rutinas.js' %}"></script>
</html>