
<{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="header" content="" />
        <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
        <script src="{% static 'js/agregarejercicios.js' %}"></script>
        
        <link rel="stylesheet" href="{% static 'css/styles_menu.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_menu-celu.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_ejercicios.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_admin_entrenar-agregar.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_admin_entrenar.css' %}" />
        <title>Admin: Entrenar</title>
    
    </head>
    <body>
        <nav class="menu">
            <div class="menu_icons">
                <ul> <!-- poner los links correctos -->
                    <li>
                        <a href="{% url 'login_profe' %}">
                            <img class="logo" src="{% static 'images/logo.png' %}">
                        </a> 
                    </li> 
                    <li>
                        <a href="#">
                            <img src="{% static 'images/user.png' %}">
                            <p>Perfil</p>
                        </a>
                    </li> 
                    <li> 
                        <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                            <img src="{% static 'images/gym/gym.png' %}">
                            <p>Entrenar</p>
                        </a> 
                    </li>
                    <li>
                        <a href="{% url 'posts:adminNoticia' %}">
                            <img src="{% static 'images/edit.png' %}">
                            <p>Noticias</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'personas:adminTurnos' %}">
                            <img src="{% static 'images/calendar.png' %}">
                            <p>Turnos</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'personas:adminAlumnos' %}">
                            <img src="{% static 'images/users-alt.png' %}">
                            <p>Alumnos</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="navigation" id="navigation">
            <ul>
                <li class="list">
                    <a href="{% url 'login_profe' %}">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="text">Inicio</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="admin_perfil.html">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="text">Perfil</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                        <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                        <span class="text">Entrenar</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'posts:noticias' %}">
                        <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                        <span class="text">Noticias</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'personas:adminTurnos' %}">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="text">Turnos</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'personas:adminAlumnos' %}">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="text">Alumnos</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
        <div class="navigation--space" id="navigation--space"></div>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


        <section class="screen">
            <div class="screen-secciones">

                <div class="seccion" id="abdominales">
                    <div class="title_desplegable">
                        <h2>Abdomen</h2>
                        <img src="{% static 'images/angle-small-left.png' %}">
                    </div>

                    <div class="plegable">
                        {% for a in abdominales %}
                                <div class="ejercicio">
                                    <input type="checkbox" id = "brazo{{forloop.counter}}" value="{{a.pk}}" name="ejercicios">
                                    
                                    <label for="brazo{{forloop.counter}}">
                                        <button type="button" class="ejercicio__buttonQuitar">-</button>
                                        <div class="imgejercicio">
                                            <img src="{% static '/images/gym/workout.png' %}">
                                        </div>
                                        <p>{{a}}</p>
                                    </label>
                                </div>
                        {% endfor %}
                        
                    </div>
                </div>

                <div class="seccion" id="brazos">
                    <div class="title_desplegable">
                        <h2>Brazos</h2>
                        <img src="{% static 'images/angle-small-left.png' %}">
                     
                    </div>
                    
                    <div class="plegable">
                        {% for b in brazos %}
                                <div class="ejercicio">
                                    <input type="checkbox" id = "abdomen{{forloop.counter}}" value="{{b.pk}}" name="ejercicios">
                                    
                                    <label for="abdomen{{forloop.counter}}">
                                        <button type="button" class="ejercicio__buttonQuitar">-</button>
                                        <div class="imgejercicio">
                                            <img src="{% static '/images/gym/workout.png' %}">
                                        </div>
                                        <p>{{b}}</p>
                                    </label>
                                </div>
                        {% endfor %}
                        
                    </div>
                </div>
                
                <div class="seccion" id="espalda">
                    <div class="title_desplegable">
                        <h2>Espalda</h2>
                        <img src="{% static 'images/angle-small-left.png' %}">
                    </div>

                    <div class="plegable">

                        {% for c in espalda %}
                            <div class="ejercicio">
                                <input type="checkbox" id = "espalda{{forloop.counter}}" value="{{c.pk}}" name="ejercicios">
                                
                                <label for="espalda{{forloop.counter}}">
                                    <button type="button" class="ejercicio__buttonQuitar">-</button>
                                    <div class="imgejercicio">
                                        <img src="{% static '/images/gym/workout.png' %}">
                                    </div>
                                    <p>{{c}}</p>
                                </label>
                            </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="seccion" id="piernas">
                    <div class="title_desplegable">
                        <h2>Piernas</h2>
                        <img src="{% static 'images/angle-small-left.png' %}">
                    </div>

                    <div class="plegable">
                        {% for p in piernas %}
                            <div class="ejercicio">
                                <input type="checkbox" id = "pierna{{forloop.counter}}" value="{{p.pk}}" name="ejercicios">
                                
                                <label for="pierna{{forloop.counter}}">
                                    <button type="button" class="ejercicio__buttonQuitar">-</button>
                                    <div class="imgejercicio">
                                        <img src="{% static '/images/gym/workout.png' %}">
                                    </div>
                                    <p>{{p}}</p>
                                </label>
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>

                <div class="seccion" id="gluteos">
                    <div class="title_desplegable">
                        <h2>Glúteos</h2>
                        <img src="{% static 'images/angle-small-left.png' %}">
                    </div>

                    <div class="plegable">
                        {% for g in gluteos %}
                            <div class="ejercicio">
                                <input type="checkbox" id = "gluteo{{forloop.counter}}" value="{{g.pk}}" name="ejercicios">
                                
                                <label for="gluteo{{forloop.counter}}">
                                    <button type="button" class="ejercicio__buttonQuitar">-</button>
                                    <div class="imgejercicio">
                                        <img src="{% static '/images/gym/workout.png' %}">
                                    </div>
                                    <p>{{g}}</p>
                                </label>
                            </div>
                        {% endfor %}
                       
                    </div>
                </div>

                <div class="seccion" id="elongacion">
                    <div class="title_desplegable">
                        <h2>Elongación</h2>
                        <img src="{% static 'images/angle-small-left.png' %}">
                    </div>

                    <div class="plegable">
                        {% for e in elongacion %}
                            <div class="ejercicio">
                                <input type="checkbox" id = "elon{{forloop.counter}}" value="{{e.pk}}" name="ejercicios">
                                
                                <label for="elon{{forloop.counter}}">
                                    <button type="button" class="ejercicio__buttonQuitar">-</button>
                                    <div class="imgejercicio">
                                        <img src="{% static '/images/gym/workout.png' %}">
                                    </div>
                                    <p>{{e}}</p>
                                </label>
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>

                <div class="entrenar-botones">
                    <h3>¿Deseas agregar un nuevo ejercicio?</h3>
                    <div class="botones">
                        <input type="button" value="Agregar" class="btn-abrir">
                        <button id="abrir-historial" >
                            <a href="{% url 'entrenamiento:historialRutinas' %}">
                                Historial de rutinas
                            </a>
                        </button>   
                    </div>
                </div>
            </div> 

            <div class="screen-ejercicio" id="divcerrado">
                <div class="fecha">
                    <h1>Creá la rutina</h1>
                    <input type="date" name="fecha" min="2022-10-12" max="2025-12-31" form="form_ejercicios" />
                </div>
                <div class="ejercicio-pasos">
                    <form method="POST" class="form_ejercicios" id="form_ejercicios">
                        {% csrf_token %}
                        
                        <input type="submit" value="Guardar" name="button_submit">
                        <select class="selecciongenero" name="genero" id="id_genero">
                            <option value="hombre" selected>Hombre</option>
                            <option value="mujer">Mujer</option>
                        </select>
                    </form>
                </div>
                <div class="ejercicio-video">
                </div>
            </div>
        </section>
<!-- popup de agregar ejercicio -->

        <div class="pop-up">
            <div class="pop-up-wrap">
                <form action="" method="POST" class="nuevoejercicio" id="nuevoejercicio">
                    {% csrf_token %}
                    <div class="agregarejercicio">
                        <div class="ejercicio-nombre">
                            <div class="ejercicio-nombre-c1">
                                <p>Nombre del ejercicio</p>
                                <input type="text" name="nombre" placeholder="Ingresar nombre...">
                            </div>
                        </div>

                        <h1>PASOS</h1>

                        <div class="ejercicio-pasos">
                            <textarea name="pasos" rows="10" cols="50" form="nuevoejercicio">Escribe aquí los pasos...</textarea>                 
                        </div>

                        <div class="agregarvideo">
                            <label for="myfile"> Selecciona una imagen o video: </label>
                            <input type="file" id="myfile" name="archivo" max="1">
                            <!-- dsp agregar el accept="" con los tipos de
                            extensiones a priorizar -->
                        </div>
                        

                        <!-- agregar opcion para añadir imagen, video o gif -->

                        <div class="guardarejercicio">
                            <button type="submit" name ="button_submit_ejercicio"><p>Guardar ejercicio</p></button>
                        </div>
                    </div>
                    <div class="tipoejercicio">
                        <img src="assets/images/cross.png" id="close">

                        <h1>Elija el tipo de ejercicio...</h1>
                        <div class="opciones">
                            <input type="radio" name="nombre_tipo" id="brazos_type" value="brazos" />
                            <label for="brazos_type" class="tipos-ejercicios" >
                                <p>Brazos</p>
                            </label>
                            
                            <input type="radio" name="nombre_tipo" id="piernas_type" value="piernas" />
                            <label for="piernas_type" class="tipos-ejercicios" >
                                <p>Piernas</p>
                            </label>
                            
                            <input type="radio" name="nombre_tipo" id="espalda_type" value="espalda" />
                            <label for="espalda_type" class="tipos-ejercicios">
                                <p>Espalda</p>
                            </label>
                            
                            <input type="radio" name="nombre_tipo" id="abdomen_type" value="abdomen"/>
                            <label class="tipos-ejercicios" for="abdomen_type">
                                <p>Abdomen</p>
                            </label>
                            
                            <input type="radio" name="nombre_tipo" id="gluteos_type" value="gluteos" />
                            <label for="gluteos_type" class="tipos-ejercicios">
                                <p>Glúteos</p>
                            </label>
                            
                            <input type="radio" name="nombre_tipo" id="elongacion_type" value="elongacion" />
                            <label class="tipos-ejercicios" for="elongacion_type">
                                <p>Elongación</p>
                            </label>
                        </div>
                                                    
                    </div>
                </form>
            </div>
        </div>

    </body>
    <script>
        $(window).ready(function(){
            $('.title_desplegable').click(function(){
               if($(this).next().hasClass('desplegado')){
                  $(this).next().removeClass('desplegado');
                  $(this).children('img').hasClass('desplegado');
                  $(this).children('img').removeClass('desplegado');
               }else{
                  $(this).next().addClass('desplegado');
                  $(this).children('img').addClass('desplegado');
               }
            })
        })
    </script>
    <script src="{% static 'js/quechupeee.js' %}"></script>
</html>