
<{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="header" content="" />
        <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
        <script src="{% static 'js/agregarejercicios.js' %}"></script>
        
        <link rel="stylesheet" href="{% static 'css/styles_menu.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_menu-celu.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_ejercicios.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_admin_entrenar-agregar.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_admin_entrenar.css' %}" />
        <title>Admin: Entrenar</title>
    
    </head>
    <body>
        <nav class="menu">
            <div class="menu_icons">
                <ul> <!-- poner los links correctos -->
                    <li>
                        <a href="{% url 'login_profe' %}">
                            <img class="logo" src="{% static 'images/logo.png' %}">
                        </a> 
                    </li> 
                    <li>
                        <a href="admin_perfil.html">
                            <img src="{% static 'images/user.png' %}">
                            <p>Perfil</p>
                        </a>
                    </li> 
                    <li> 
                        <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                            <img src="{% static 'images/gym/gym.png' %}">
                            <p>Entrenar</p>
                        </a> 
                    </li>
                    <li>
                        <a href="{% url 'posts:noticias' %}">
                            <img src="{% static 'images/edit.png' %}">
                            <p>Noticias</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'personas:adminTurnos' %}">
                            <img src="{% static 'images/calendar.png' %}">
                            <p>Turnos</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'personas:adminAlumnos' %}">
                            <img src="{% static 'images/users-alt.png' %}">
                            <p>Alumnos</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="navigation" id="navigation">
            <ul>
                <li class="list">
                    <a href="{% url 'login_profe' %}">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="text">Inicio</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="admin_perfil.html">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="text">Perfil</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                        <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                        <span class="text">Entrenar</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'posts:noticias' %}">
                        <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                        <span class="text">Noticias</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'personas:adminTurnos' %}">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="text">Turnos</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'personas:adminAlumnos' %}">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="text">Alumnos</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
        <div class="navigation--space" id="navigation--space"></div>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <!-- <script> document.getElementById("eprofile").style.display='none'; </script> -->
    
         <!-- fin de los menú -->


        <section class="screen">
            <div class="screen-secciones">
               
                <div class="seccion" id="abdominales">
                    <div class="title_desplegable">
                        <h2>Abdomen</h2>
                        <img src="assets/images/angle-small-left.png">
                    </div>

                    <div class="plegable">

                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="abdomen1" name="ejercicios">
                            <label for="abdomen1">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>Abdomen1</p>
                            </label>
                        </div>

                        <div class="ejercicio">
                            <input type="checkbox" id = "abdomen2" value="abdomen2" name="ejercicios">
                            <label for="abdomen2">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>abdomen2</p>
                            </label>
                        </div>

                        <div class="ejercicio">
                            <input type="checkbox" id = "abdomen3" value="abdomen3" name="ejercicios">
                            <label for="abdomen3">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>abdomen3</p>
                            </label>
                        </div>

                        <div class="ejercicio">
                            <input type="checkbox" id = "abdomen4" value="abdomen4" name="ejercicios">
                            <label for="abdomen4">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>abdomen4</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="seccion" id="brazos">
                    <div class="title_desplegable">
                        <h2>Brazos</h2>
                        <img src="assets/images/angle-small-left.png">
                     
                    </div>

                    <div class="plegable">
                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="nashe1" name="ejercicios">
                            <label for="nashe">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>Nashe1</p>
                            </label>
                        </div>
                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe2" value="nashe2" name="ejercicios">
                            <label for="nashe2">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>Nashe2</p>
                            </label>
                        </div>
                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe3" value="nashe3" name="ejercicios">
                            <label for="nashe3">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>Nashe3</p>
                            </label>
                        </div>
                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe4" value="nashe4" name="ejercicios">
                            <label for="nashe4">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>Nashe4</p>
                            </label>
                        </div>
                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe5" value="nashe5">
                            <label for="nashe5">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>Nashe5</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="seccion" id="espalda">
                    <div class="title_desplegable">
                        <h2>Espalda</h2>
                        <img src="assets/images/angle-small-left.png">
                    </div>

                    <div class="plegable">

                        <div class="ejercicio">
                            <input type="checkbox" id ="nashe" value ="espalda1" name ="ejercicios">
                            <label for="espalda1">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>espalda1</p>
                            </label>
                        </div>

                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="espalda1" name="ejercicios">
                            <label for="espalda1">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>espalda1</p>
                            </label>
                        </div>

                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="espalda2" name="ejercicios">
                            <label for="espalda2">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>espalda2</p>
                            </label>
                        </div>

                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="espalda3" name="ejercicios">
                            <label for="espalda3">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>espalda3</p>
                            </label>
                        </div>

                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="espalda4" name="ejercicios">
                            <label for="espalda4">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>espalda4</p>
                            </label>
                        </div>

                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="espalda5" name="ejercicios">
                            <label for="espalda5">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>espalda5</p>
                            </label>
                        </div>

                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="espalda6" name="ejercicios">
                            <label for="espalda6">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>espalda6</p>
                            </label>
                        </div>

                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="espalda7" name="ejercicios">
                            <label for="espalda7">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>espalda7</p>
                            </label>
                        </div>

                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="espalda8" name="ejercicios">
                            <label for="espalda8">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>espalda8</p>
                            </label>
                        </div>

                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="espalda9" name="ejercicios">
                            <label for="espalda9">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>espalda9</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="seccion" id="piernas">
                    <div class="title_desplegable">
                        <h2>Piernas</h2>
                        <img src="assets/images/angle-small-left.png">
                    </div>

                    <div class="plegable">
                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="pierna1" name="ejercicios">
                            <label for="pierna1">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>pierna1</p>
                            </label>
                        </div>
                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="pierna2" name="ejercicios">
                            <label for="pierna2">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>pierna2</p>
                            </label>
                        </div>
                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="pierna3" name="ejercicios">
                            <label for="pierna3">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>pierna3</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="seccion" id="gluteos">
                    <div class="title_desplegable">
                        <h2>Glúteos</h2>
                        <img src="assets/images/angle-small-left.png">
                    </div>

                    <div class="plegable">
                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="gluteos1" name="ejercicios">
                            <label for="gluteos1">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>gluteos1</p>
                            </label>
                        </div>
                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="gluteos2" name="ejercicios">
                            <label for="gluteos2">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>gluteos2</p>
                            </label>
                        </div>
                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="gluteos3" name="ejercicios">
                            <label for="gluteos3">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>gluteos3</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="seccion" id="elongacion">
                    <div class="title_desplegable">
                        <h2>Elongación</h2>
                        <img src="assets/images/angle-small-left.png">
                    </div>

                    <div class="plegable">
                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="elongacion1" name="ejercicios">
                            <label for="elongacion1">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>elongacion1</p>
                            </label>
                        </div>
                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="elongacion2" name="ejercicios">
                            <label for="elongacion2">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>elongacion2</p>
                            </label>
                        </div>
                        <div class="ejercicio">
                            <input type="checkbox" id = "nashe" value="elongacion3" name="ejercicios">
                            <label for="elongacion3">
                                <button type="button" class="ejercicio__buttonQuitar">-</button>
                                <div class="imgejercicio">
                                    <img src="assets/images/gym/workout.png">
                                </div>
                                <p>elongacion3</p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="entrenar-botones">
                    <h3>¿Deseas agregar un nuevo ejercicio?</h3>
                    <div class="botones">
                        <input type="button" value="Agregar" class="btn-abrir">
                        <button id="abrir-historial" >
                            <a href="admin_entrenar-historial.html">
                                Historial de rutinas
                            </a>
                        </button>   
                    </div>
                </div>
            </div> 

            <div class="screen-ejercicio" id="divcerrado">
                <div class="fecha">
                    <h1>Creá la rutina</h1>
                    <input type="date" name="fecha" min="2022-10-12" max="2025-12-31" />
                </div>
                <div class="ejercicio-pasos"></div>
                    <form class="form_ejercicios">
                        <!-- <input type="text"> -->
                        <input type="submit">
                    </form>
                </div>
                <div class="ejercicio-video">
                </div>
            </div>
        </section>
<!-- popup de agregar ejercicio -->

        <div class="pop-up">
            <div class="pop-up-wrap">
                <form action="" class="nuevoejercicio">
                    <div class="agregarejercicio">
                        <div class="ejercicio-nombre">
                            <div class="ejercicio-nombre-c1">
                                <p>Nombre del ejercicio</p>
                                <input type="text" value="Ingresar nombre...">
                            </div>
                        </div>

                        <h1>PASOS</h1>

                        <div class="ejercicio-pasos">
                            <textarea name="comentarios" rows="10" cols="50">Escribe aquí los pasos...</textarea>                 
                        </div>

                        <div class="agregarvideo">
                            <label for="myfile"> Selecciona una imagen o video: </label>
                            <input type="file" id="myfile" name="myfile" max="1">
                            <!-- dsp agregar el accept="" con los tipos de
                            extensiones a priorizar -->
                        </div>
                        

                        <!-- agregar opcion para añadir imagen, video o gif -->

                        <div class="guardarejercicio">
                            <button type="submit"><p>Guardar ejercicio</p></button>
                        </div>
                    </div>
                    <div class="tipoejercicio">
                        <img src="assets/images/cross.png" id="close">

                        <h1>Elija el tipo de ejercicio...</h1>
                        <div class="opciones">
                            <input type="radio" name="ejercicios" id="brazos" value="brazos" />
                            <label class="tipos-ejercicios" for="brazos">
                                <p>Brazos</p>
                            </label>
                            
                            <input type="radio" name="ejercicios" id="piernas" value="piernas" />
                            <label class="tipos-ejercicios" for="piernas">
                                <p>Piernas</p>
                            </label>
                            
                            <input type="radio" name="ejercicios" id="espalda" value="espalda" />
                            <label class="tipos-ejercicios" for="espalda">
                                <p>Espalda</p>
                            </label>
                            
                            <input type="radio" name="ejercicios" id="abdomen" value="abdomen" />
                            <label class="tipos-ejercicios" for="abdomen">
                                <p>Brazos</p>
                            </label>
                            
                            <input type="radio" name="ejercicios" id="gluteos" value="gluteos" />
                            <label class="tipos-ejercicios" for="gluteos">
                                <p>Glúteos</p>
                            </label>
                            
                            <input type="radio" name="ejercicios" id="elongacion" value="elongacion" />
                            <label class="tipos-ejercicios" for="elongacion">
                                <p>Elongación</p>
                            </label>
                        </div>
                                                    
                    </div>
                </form>
            </div>
        </div>

    </body>
    <script>
        $(window).ready(function(){
            $('.title_desplegable').click(function(){
               if($(this).next().hasClass('desplegado')){
                  $(this).next().removeClass('desplegado');
                  $(this).children('img').hasClass('desplegado');
                  $(this).children('img').removeClass('desplegado');
               }else{
                  $(this).next().addClass('desplegado');
                  $(this).children('img').addClass('desplegado');
               }
            })
        })
    </script>
    <script src="{% static 'js/quechupeee.js' %}"></script>
</html>