{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="header" content="" />
        <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/styles_menu.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/styles_menu-celu.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles_ejercicios.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/styles_alumnos-entrenar.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/stylesPerfil.css' %}">
        <script src="{% static 'js/sectionProfile.js' %}"></script>
        <title>Entrenar: Alumnos</title>
    
    
    </head>
    <body>

        <nav class="menu">
            <div class="menu_icons">
                <ul>
                    <li>
                        <a href="{% url 'login_user' %}">
                            <img class="logo" src="{% static 'images/logo.png' %}">
                        </a> 
                    </li> 
                    <li>
                        <a href="#" class="show-profile" id="show-profile"> 
                            <img src="{% static 'images/user.png' %}"> 
                            <p>Perfil</p> 
                        </a>
                    </li> 
                    <li> 
                        <a href="{% url 'entrenamiento:ejercicios' %}">
                            <img src="{% static 'images/gym/gym' %}.png">
                            <p>Entrenar</p> 
                        </a> 
                    </li>
                    <li>
                        <a href="{% url 'posts:noticias' %}">
                            <img src="{% static 'images/edit.png' %}">
                            <p>Noticias</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'personas:turnos' %}">
                            <img src="{% static 'images/calendar.png' %}">
                            <p>Turnos</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="navigation" id="navigation">
            <ul>
                <li class="list">
                    <a href="index_alumnos.html">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="text">Inicio</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="alumnos_perfil.html">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="text">Perfil</span>
                    </a>
                </li>
                <li class="list">
                    <a href="alumnos_entrenar.html">
                        <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                        <span class="text">Entrenar</span>
                    </a>
                </li>
                <li class="list">
                    <a href="alumnos_noticias.html">
                        <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                        <span class="text">Noticias</span>
                    </a>
                </li>
                <li class="list">
                    <a href="alumnos_turnos.html">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="text">Turnos</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
        <section class="section-profile" id="section-profile">
            <div id="perfil_bg--blur" class="perfil_bg--blur">
                <div class="perfil_bg--gradient" id="perfil_bg--gradient">
                    <div class="perfil_bg" id="perfil_bg">
                        <!-- Perfil minimizado........................................ -->
                        <div class="navbar--fill" id="navbar--fill"></div> 
                        <div id="profile" class="profile">
                            {% if user.foto_de_perfil == None %}
                                <div class="profile_data--radiuspic" id="profile_data--radiuspic">
                                    <img src="{% static 'images/avatar/9.png' %}" class="profile_data--pic" id="profile_data--pic">
                                </div>
                            {% else %}
                                <div class="profile_data--radiuspic" id="profile_data--radiuspic">
                                    <img src="{% if user.foto_de_perfil %} {{user.foto_de_perfil.url}} {% else %} {% static 'images/avatar/11.png' %} {% endif %}" class="profile_data--pic" id="profile_data--pic">
                                </div>
                            {% endif %}
                            
                            <div class="profile_data--name" id="profile_data--name">
                                <h1>{{user.apodo}}</h1>
                                {% comment %} <figure></figure> {% endcomment %}
                                <h3>{{user.nombre}} {{user.apellido}}</h3>
                                {% if  user.edad != None%}
                                    <p>{{user.edad}} años</p>
                                {% endif %}
                                {% comment %} <p>{{user.edad}}</p> {% endcomment %}
                            </div>
                            {% if user.biografia %}
                                <div class="profile_data--description" id="profile_data--description">
                                    <p>{{user.biografia}}</p>
                                </div>
                            {% else %}
                                <br>
                            {% endif %}
                            
                            <div class="profile_data--numbers" id="profile_data--numbers">
                                <ol>
                                    {% if user.telefono %}
                                    <li>
                                        <h5>{{user.telefono}}</h5>
                                        <p>CONTACTO</p>
                                    </li>
                                    {% else %}
                                        <br>
                                    {% endif %}

                                    {% if user.peso %}
                                    <li>
                                        <h5>{{user.peso}}</h5>
                                        <p>PESO</p>
                                    </li>
                                    {% else %}
                                        <br>
                                    {% endif %}
                                    
                                    {% if user.altura %}
                                    <li>
                                        <h5>{{user.altura}}</h5>
                                        <p>ALTURA</p>
                                    </li>
                                    {% else %}
                                        <br>
                                    {% endif %}
                                </ol>
                            </div>
                            <button id="profile_data--button" class="profile_data--button">
                                <a href="{% url 'personas:perfil' %}">Editar Perfil</a> 
                            </button>
                            <a class="botonito" href="{% url 'logout' %}">Salir de la cuenta</a>
                        </div>
                        <!-- Fin perfil minimizado........................................ -->
                    </div>
                </div>
            </div>
    
            <div class="aestethical-margin"></div>
    
        </section>
        <div class="navigation--space" id="navigation--space"></div>
        <section class="screen">
            <form class="screen-secciones" method="post" action="">
                <!-- cambiar los ID de los ejercicios, etc -->
                <div class="seccion" id="abdominales">
                    <div class="title_desplegable">
                        <h2>Abdomen</h2>
                        <img src="{% static '/images/angle-small-left.png' %}">
                    </div>

                    <div class="plegable">
                        {% for a in abdominales %}
                            
                            <div class="ejercicio" >
                                <input type="radio" id="abdominales{{forloop.counter}}" name="ejercicio">
                                
                                <label for="abdominales{{forloop.counter}}">

                                    <div class="imgejercicio">
                                        <img src="{% static '/images/gym/workout.png' %}">
                                    </div>
                                    <p>{{a}}</p>
                                    
                                </label>
                                <div class="ejercicio-pasos" id="ejercicio_pasosid">
                                    <p class="text_pasos">
                                        {{a.pasos}}
                                    </p>
                                </div>
                                
                                <div class="ejercicio-video" id="ejercicio_videoid">
                                    <video class= "video_ejer" src="{{a.archivo.url}}"></video>
                                </div>
                                
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="seccion" id="brazos">
                    <div class="title_desplegable">
                        <h2>Brazos</h2>
                        <img src="{% static '/images/angle-small-left.png' %}">
                    </div>
                    <div class="plegable">
                        {% for b in brazos %}
                            
                            <div class="ejercicio" >
                                <input type="radio" id="brazos{{forloop.counter}}" name="ejercicio">
                                
                                <label for="brazos{{forloop.counter}}">

                                    <div class="imgejercicio">
                                        <img src="{% static '/images/gym/workout.png' %}">
                                    </div>
                                    <p>{{b}}</p>
                                    
                                </label>
                                <div class="ejercicio-pasos" id="ejercicio_pasosid">
                                    <p class="text_pasos">
                                        {{b.pasos}}
                                    </p>
                                </div>
                                
                                <div class="ejercicio-video" id="ejercicio_videoid">
                                    <video class= "video_ejer" src="{{b.archivo.url}}" controls></video>
                                </div>
                                
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="seccion" id="espalda">
                    <div class="title_desplegable">
                        <h2>Espalda</h2>
                        <img src="{% static '/images/angle-small-left.png' %}">
                    </div>

                    <div class="plegable">
                        {% for e in espalda %}
                            
                            <div class="ejercicio" >
                                <input type="radio" id="espalda{{forloop.counter}}" name="ejercicio">
                                
                                <label for="espalda{{forloop.counter}}">

                                    <div class="imgejercicio">
                                        <img src="{% static '/images/gym/workout.png' %}">
                                    </div>
                                    <p>{{e}}</p>
                                    
                                </label>
                                <div class="ejercicio-pasos" id="ejercicio_pasosid">
                                    <p class="text_pasos">
                                        {{e.pasos}}
                                    </p>
                                </div>
                                
                                <div class="ejercicio-video" id="ejercicio_videoid">
                                    <video class= "video_ejer" src="{{e.archivo.url}}" controls></video>
                                </div>
                                
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>
                <div class="seccion" id="piernas">
                    <div class="title_desplegable">
                        <h2>Piernas</h2>
                        <img src="{% static '/images/angle-small-left.png' %}">
                    </div>

                    <div class="plegable">
                        
                        {% for p in piernas %}
                            
                            <div class="ejercicio" >
                                <input type="radio" id="piernas{{forloop.counter}}" name="ejercicio">
                                
                                <label for="piernas{{forloop.counter}}">

                                    <div class="imgejercicio">
                                        <img src="{% static '/images/gym/workout.png' %}">
                                    </div>
                                    <p>{{p}}</p>
                                    
                                </label>
                                <div class="ejercicio-pasos" id="ejercicio_pasosid">
                                    <p class="text_pasos">
                                        {{p.pasos}}
                                    </p>
                                </div>
                                
                                <div class="ejercicio-video" id="ejercicio_videoid">
                                    <video class= "video_ejer" src="{{p.archivo.url}}" controls></video>
                                </div>
                                
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="seccion" id="gluteos">
                    <div class="title_desplegable">
                        <h2>Glúteos</h2>
                        <img src="{% static '/images/angle-small-left.png' %}">
                    </div>

                    <div class="plegable">
                    
                        {% for g in gluteos %}
                            
                            <div class="ejercicio" >
                                <input type="radio" id="gluteos{{forloop.counter}}" name="ejercicio">
                                
                                <label for="gluteos{{forloop.counter}}">

                                    <div class="imgejercicio">
                                        <img src="{% static '/images/gym/workout.png' %}">
                                    </div>
                                    <p>{{g}}</p>
                                    
                                </label>
                                <div class="ejercicio-pasos" id="ejercicio_pasosid">
                                    <p class="text_pasos">
                                        {{g.pasos}}
                                    </p>
                                </div>
                                
                                <div class="ejercicio-video" id="ejercicio_videoid">
                                    <video class= "video_ejer" src="{{g.archivo.url}}" controls></video>
                                </div>
                                
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="seccion" id="elongacion">
                    <div class="title_desplegable">
                        <h2>Elongación</h2>
                        <img src="{% static '/images/angle-small-left.png' %}">
                    </div>

                    <div class="plegable">
                        {% for e in elongacion %}
                            
                            <div class="ejercicio" >
                                <input type="radio" id="elongacion{{forloop.counter}}" name="ejercicio">
                                
                                <label for="elongacion{{forloop.counter}}">

                                    <div class="imgejercicio">
                                        <img src="{% static '/images/gym/workout.png' %}">
                                    </div>
                                    <p>{{e}}</p>
                                    
                                </label>
                                <div class="ejercicio-pasos" id="ejercicio_pasosid">
                                    <p class="text_pasos">
                                        {{e.pasos}}
                                    </p>
                                </div>
                                
                                <div class="ejercicio-video" id="ejercicio_videoid">
                                    <video class= "video_ejer" src="{{e.archivo.url}}" controls></video>
                                </div>
                                
                            </div>
                        {% endfor %}
                    </div>
                </div>                
            </form>

            <div class="screen-ejercicio" id="divcerrado">
                 
                
                
            </div>
        </section>

    </body>

    <script>
        $(window).ready(function(){
            $('.title_desplegable').click(function(){
               if($(this).next().hasClass('desplegado')){
                  $(this).next().removeClass('desplegado');
                  $(this).children('img').hasClass('desplegado');
                  $(this).children('img').removeClass('desplegado');
               }else{
                  $(this).next().addClass('desplegado');
                  $(this).children('img').addClass('desplegado');
               }
            })
        })
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script> document.getElementById("eprofile").style.display='none'; </script>
    <script src ="{% static 'js/alumnosEntrenar.js' %}"> </script>

</html>