{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="header" content="" />       
        <link rel="stylesheet" href="{% static 'css/styles_menu.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_menu-celu.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_admin_landing.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_admin-cambiarplanes.css' %}" />
        <title>Gym House: Admin</title>
    
    </head>
    <body>
        <nav class="menu">
            <div class="menu_icons">
                <ul> <!-- poner los links correctos -->
                    <li>
                        <a href="{% url 'login_profe' %}">
                            <img class="logo" src="{% static 'images/logo.png' %}">
                        </a> 
                    </li> 
                    <li>
                        <a href="#">
                            <img src="{% static 'images/user.png' %}">
                            <p>Perfil</p>
                        </a>
                    </li> 
                    <li> 
                        <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                            <img src="{% static 'images/gym/gym.png' %}">
                            <p>Entrenar</p>
                        </a> 
                    </li>
                    <li>
                        <a href="{% url 'posts:adminNoticia' %}">
                            <img src="{% static 'images/edit.png' %}">
                            <p>Noticias</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'personas:adminTurnos' %}">
                            <img src="{% static 'images/calendar.png' %}">
                            <p>Turnos</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'personas:adminAlumnos' %}">
                            <img src="{% static 'images/users-alt.png' %}">
                            <p>Alumnos</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="navigation" id="navigation">
            <ul>
                <li class="list">
                    <a href="{% url 'login_profe' %}">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="text">Inicio</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="admin_perfil.html">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="text">Perfil</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                        <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                        <span class="text">Entrenar</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'posts:noticias' %}">
                        <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                        <span class="text">Noticias</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'personas:adminTurnos' %}">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="text">Turnos</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'personas:adminAlumnos' %}">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="text">Alumnos</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
        <div class="navigation--space" id="navigation--space"></div>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <!-- <script> document.getElementById("eprofile").style.display='none'; </script> -->

        <!-- fin de los menú -->

        <section class="landing">
            <div class="landing-noticias">
                <h1>Te podría interesar...</h1>
                <div class="landing-noticias-news">
                    <div class="noticia-sec">
                        <a src="#"> <!-- agregar que redireccione a la noticia -->
                            <img src="{% static 'images/entrenamiento.webp' %}">
                            <div class="titulo-noticiasecundaria"> 
                                <p>Beneficios del estiramiento</p>
                            </div>
                        </a>
                    </div>
                    <div class="noticia-principal">
                        <a src="#"> <!-- agregar que redireccione a la noticia -->
                            <img src="{% static 'images/tacos.webp' %}">
                            <div class="titulo-noticiaprincipal">
                                <p>Tacos Healty sin TACC</p>
                            </div>
                        </a>
                    </div>
                    <div class="noticia-sec">
                        <a src="#"> <!-- agregar que redireccione a la noticia -->
                            <img src="{% static 'images/herramientas.jpg' %}">
                            <div class="titulo-noticiasecundaria">
                                <p>Disciplinas complementarias</p>
                            </div>
                        </a>
                    </div>
                </div>
                <a src="#"> <!-- agregar link a la seccion noticias -->
                    <button class="landing-noticias-boton">
                        <p>Ver todas las noticias</p>
                    </button>
                </a>
            </div>
            <div class="landing-ordenar"> 
                <div class="landing-ejercicios"> 
                <!-- cambiar colores, agregar iconos definitivos -->
                    <a href="#">
                        <div class="ejercicios-titulo">
                            <p>Ejercicios</p> 
                        </div>
                    </a>
                    <div class="ejercicios">
                        <div class="ejercicios-sup">
                            <a href="admin_entrenar.html" id="abdominales">
                                <img src="{% static 'images/gym/workout.png' %}">
                                <p>saber más</p>
                            </a>
                            <a href="admin_entrenar.html" id="brazos">                                
                                <img src="{% static 'images/gym/training.png' %}">
                                <p>saber más</p>
                            </a>
                            <a href="admin_entrenar.html" id="calentamiento">
                                <img src="{% static 'images/gym/stationary-bike.png' %}">
                                <p>saber más</p>
                            </a>
                            <a href="admin_entrenar.html" class="vuelan" id="piernas">
                                <img src="{% static 'images/gym/running.png' %}">
                                <p>saber más</p>
                            </a>
                            <a href="admin_entrenar.html" class="vuelan" id="gluteos">
                                <img src="{% static 'images/gym/dumbbells.png' %}">
                                <p>saber más</p>
                            </a>
                        </div>
                        <div class="ejercicios-inf">
                            <a href="admin_entrenar.html" id="pecho">
                                <img src="{% static 'images/gym/workout.png' %}">
                                <p>saber más</p>
                            </a>
                            <a href="admin_entrenar.html" id="hombros">
                                <img src="{% static 'images/gym/training.png' %}">
                                <p>saber más</p>
                            </a>
                            <a href="admin_entrenar.html" id="estiramiento">
                                <img src="{% static 'images/gym/stationary-bike.png' %}">
                                <p>saber más</p>
                            </a>
                            <a href="admin_entrenar.html" class="vuelan" id="cardio">
                                <img src="{% static 'images/gym/running.png' %}">
                                <p>saber más</p>
                            </a>
                            <a href="admin_entrenar.html" class="vuelan" id="espalda">
                                <img src="{% static 'images/gym/dumbbells.png' %}">
                                <p>saber más</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="plan-playlist"> 
                    <div class="landing-planmensual"> 
                        <div class="planmensual-titulo">
                            <img src="{% static 'images/lovefitness.png' %}">
                            <p>Tu plan mensual</p>
                        </div>
                        <div class="plan"><p>¿Querés cambiar un plan?</p></div>
                        <button id="button_modal_plan"><p>Cambiar plan</p></button>
                    </div>

                    <form class="landing-encuesta">
                        <p>¿Querés cambiar la encuesta?</p>
                        <input type="text">
                        <button>CAMBIAR</button>
                    </form>
                </div>
            </div>


            {% comment %} <div  class="planmensual--pop-up" id="planmensual--pop-up">
                <div class="planmensual--pop-up_wrap" id="form_add_days">
                    {% csrf_token %}
        
                    <div class="pop-up--second" id="pop-up--second">
                        <i class="fa-solid fa-xmark"></i>
                        <p>Elegí los días y horarios que el alumno va a asistir</p>
                        <ul>
                            {{formsetDays.management_form}}
                            {% comment %} {{formsetDays}}  
                            {% for f in formsetDays %}
                                <li class="day">
                                    <p></p>
                                    {{f.dia}}
                                    
                                    <div class="custom-num">
                                        {{f.hora}}
                                        <p class="hs">hs</p>
                                    </div>
                                </li>
                                
                            {% endfor %}
        
                        </ul>
        

                        <div class="container_buttons">
                            <button type="button" id="second_button"><p>Finalizar</p></button>
                            <a type="button" href="{% url 'personas:createUserTurno' %}" id="second_secondbutton"><p>Atrás</p></a>
                        </div>
                    </div>
        
                    <div class="pop-up--third" id="pop-up--third">
                        <button type="submit" id="form_close"><i class="fa-solid fa-xmark" id="xmark"></i></button>
                        <h5>¡Plan cambiado exitosamente!</h5>
                        <div class="plan-changed">
                            <p>Aron Soto</p>
                            <p>3 días/semana</p>
                            <ul>
                                <li>
                                    <p>Lun</p>
                                    <p>16hs</p>
                                </li>
                                <li>
                                    <p>Mié</p>
                                    <p>16hs</p>
                                </li>
                                <li>
                                    <p>Jue</p>
                                    <p>16hs</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>    
            
                <div class="pop-up--third" id="pop-up--third">
                    <a href=""><i class="fa-solid fa-xmark" id="xmark"></i></a>
                    
                    <h5>¡Plan cambiado exitosamente!</h5>
                    <div class="plan-changed">
                        <p>Aron Soto</p>
                        <p>3 días/semana</p>
                        <ul>
                            <li>
                                <p>Lun</p>
                                <p>16hs</p>
                            </li>
                            <li>
                                <p>Mié</p>
                                <p>16hs</p>
                            </li>
                            <li>
                                <p>Jue</p>
                                <p>16hs</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> {% endcomment %}


            <div class="planmensual--pop-up" id="planmensual--pop-up">
                <div class="planmensual--pop-up_wrap"> 
                    <form action="" method="POST" class="update_turno">
                        {% csrf_token %}
                        <div class="pop-up--first" id="pop-up--first">
                            <i class="fa-solid fa-xmark" id="close_modal_plan"></i>
                            <p>Elegí el alumno al que vas a cambiar el plan</p>
        
                            <select name="" id="">
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
        
                            <p>Seleccioná el plan correspondiente</p>
                            <ul>
                                <input type="radio" name="plan" id="dos_dias">
                                <label class="pop-up--plan" for="dos_dias">
                                    <p>2 días/semana</p>
                                </label>
                                
                                <input type="radio" name="plan" id="tres_dias">
                                <label class="pop-up--plan" for="tres_dias">
                                    <p>3 días/semana</p>
                                </label>

                                <input type="radio" name="plan" id="cinco_dias">
                                <label class="pop-up--plan" for="cinco_dias">
                                    <p>5 días/semana</p>
                                </label>
                            </ul>
                            <button type="button" id="first_button"><p>Siguiente</p></button>
                        </div>
                        <div class="pop-up--second" id="pop-up--second">
                            <i class="fa-solid fa-xmark"></i>
                            <p>Elegí los días y horarios que el alumno va a asistir</p>
                            <ul>
                                {{formsetDays.management_form}}
                                {% comment %} {{formsetDays}}  {% endcomment %}
                                {% for f in formsetDays %}
                                    <li class="day">
                                        <p></p>
                                        {{f.dia}}
                                        
                                        <div class="custom-num">
                                            {{f.hora}}
                                            <p class="hs">hs</p>
                                        </div>
                                    </li>
                                    
                                {% endfor %}
            
                            </ul>
            
    
                            <div class="container_buttons">
                                <button type="button" id="second_button"><p>Finalizar</p></button>
                                <button type="button" id="second_secondbutton"><p>Atrás</p></button>
                            </div>
                        </div>
                        <div class="pop-up--third" id="pop-up--third">
                            <h5>¡Plan cambiado exitosamente!</h5>
                            <button type="submit" id="form_close">Salir</i></button>
                            
                        </div>
                        {% comment %} <form class="pop-up--second" id="pop-up--second">
                            <i class="fa-solid fa-xmark"></i>
                            <p>Elegí los días y horarios que el alumno va a asistir</p>
                            <ul>
                                <li class="day selection">
                                    <p>LUN</p>
                                    <div class="custom-num">
                                        <i class="fas fa-angle-up arr-up" id="arr-down"></i>
                                        <input
                                        type="number"
                                        class="num-input"
                                        id="num-imput"
                                        min="14"
                                        max="22"
                                        value="15"/>
                                        <i class="fas fa-angle-down arr-down" id="arr-up"> </i>
                                    </div>
                                    <p class="hs">hs</p>
                                </li>
                                <li class="day">
                                    <p>MAR</p>
                                </li>
                                <li class="day">
                                    <p>MIÉ</p>
                                </li>
                                <li class="day">
                                    <p>JUE</p>
                                </li>
                                <li class="day">
                                    <p>VIE</p>
                                </li>
                            </ul>
                            <button type="button" id="second_button"><p>Finalizar</p></button>
                            <button type="button" id="second_secondbutton"><p>Atrás</p></button>
                        </form> {% endcomment %}
                        
                    </form>
                </div>    
            </div>
            <div class="fill-mediaquery"></div>
    
        </div>


        </section>

        {% comment %} <script>
            document.getElementById('planmensual--pop-up').style.display='none';
        </script> {% endcomment %}
        <script src="{% static 'js/sectionShifts-admin.js' %}"></script>
        <script src="{% static 'js/modalchangePlanAdmin.js' %}"></script>
    </body>
</html>
