{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="header" content="" />       
        <link rel="stylesheet" href="{% static 'css/styles_menu.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles-admin_navcel.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_admin_landing.css' %}" />
        <link rel="stylesheet" href="{% static 'css/styles_admin-cambiarplanes.css' %}" />
        <link rel="shortcut icon" href="{% static 'images/logo.svg' %}">
        
        <title>Gym House</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/stylesPerfil.css' %}">
        <script src="{% static 'js/sectionProfile.js' %}"></script>
    </head>
    <body>
        <style>
            html{
                background-image: url("{% static 'images/fondogym-ai.png' %}");
                background-size: 25rem;
                background-repeat: repeat;
            }
        </style> 

        <nav class="menu">
            <div class="menu_icons">
                <ul> <!-- poner los links correctos -->
                    <li>
                        <a href="{% url 'login_profe' %}">
                            <img class="logo" src="{% static 'images/logo.svg' %}">
                        </a> 
                        
                    </li> 
                    <li>
                        <a href="#" class="show-profile" id="show-profile"> 
                            <img src="/static/images/user.png"> 
                            <p>Perfil</p> 
                        </a>
                    </li> 
                    <li> 
                        <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                            <img src="{% static 'images/gym/gym.png' %}">
                            <p>Entrenar</p>
                        </a> 
                    </li>
                    <li>
                        <a href="{% url 'posts:adminNoticia' %}">
                            <img src="{% static 'images/edit.png' %}">
                            <p>Noticias</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'personas:adminTurnos' %}">
                            <img src="{% static 'images/calendar.png' %}">
                            <p>Turnos</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'personas:adminAlumnos' %}">
                            <img src="{% static 'images/users-alt.png' %}">
                            <p>Alumnos</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="navigation" id="navigation">
            <ul>
                <li class="list">
                    <a href="{% url 'login_profe' %}">
                        <span class="icono"><img class="landing" src="{% static 'images/logo.svg' %}"></span>
                        <span class="text">Inicio</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="admin_perfil.html">
                        <span class="icono"><img src="/static/images/user.png"> </span>
                        <span class="text">Perfil</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                        <span class="icono"><img src="{% static 'images/gym/gym.png' %}"></span>
                        <span class="text">Entrenar</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'posts:adminNoticia' %}">
                        <span class="icono"><img src="{% static 'images/edit.png' %}"></span>
                        <span class="text">Noticias</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'personas:adminTurnos' %}">
                        <span class="icono"><img src="{% static 'images/calendar.png' %}"></span>
                        <span class="text">Turnos</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{% url 'personas:adminAlumnos' %}">
                        <span class="icono"><img src="{% static 'images/users-alt.png' %}"></span>
                        <span class="text">Alumnos</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
        <section class="section-profile" id="section-profile">
            <div id="perfil_bg--blur" class="perfil_bg--blur">
                <div class="perfil_bg--gradient" id="perfil_bg--gradient">
                    <div class="perfil_bg" id="perfil_bg">
                        <!-- Perfil minimizado........................................ -->
                        <div class="navbar--fill" id="navbar--fill"></div> 
                        <div id="profile" class="profile">
                            {% if user.foto_de_perfil == None %}
                                <div class="profile_data--radiuspic" id="profile_data--radiuspic">
                                    <img src="{% static 'images/avatar/9.png' %}" class="profile_data--pic" id="profile_data--pic">
                                </div>
                            {% else %}
                                <div class="profile_data--radiuspic" id="profile_data--radiuspic">
                                    <img src="{% if user.foto_de_perfil %} {{user.foto_de_perfil.url}} {% else %} {% static 'images/avatar/11.png' %} {% endif %}" class="profile_data--pic" id="profile_data--pic">
                                </div>
                            {% endif %}
                            
                            <div class="profile_data--name" id="profile_data--name">
                                <h1>{{user.apodo}}</h1>
                                {% comment %} <figure></figure> {% endcomment %}
                                <h3>{{user.nombre}} {{user.apellido}}</h3>
                                {% if  user.edad != None%}
                                    <p>{{user.edad}} años</p>
                                {% endif %}
                                {% comment %} <p>{{user.edad}}</p> {% endcomment %}
                            </div>
                            {% if user.biografia %}
                                <div class="profile_data--description" id="profile_data--description">
                                    <p>{{user.biografia}}</p>
                                </div>
                            {% else %}
                                <br>
                            {% endif %}
                            
                            <div class="profile_data--numbers" id="profile_data--numbers">
                                <ol>
                                    {% if user.telefono %}
                                    <li>
                                        <h5>{{user.telefono}}</h5>
                                        <p>CONTACTO</p>
                                    </li>
                                    {% else %}
                                        <br>
                                    {% endif %}

                                    {% if user.peso %}
                                    <li>
                                        <h5>{{user.peso}}</h5>
                                        <p>PESO</p>
                                    </li>
                                    {% else %}
                                        <br>
                                    {% endif %}
                                    
                                    {% if user.altura %}
                                    <li>
                                        <h5>{{user.altura}}</h5>
                                        <p>ALTURA</p>
                                    </li>
                                    {% else %}
                                        <br>
                                    {% endif %}
                                </ol>
                            </div>
                            <button id="profile_data--button" class="profile_data--button">
                                <a href="{% url 'personas:perfil' %}">Editar Perfil</a> 
                            </button>
                            <a class="botonito" href="{% url 'logout' %}">Salir de la cuenta</a>
                        </div>
                        <!-- Fin perfil minimizado........................................ -->
                    </div>
                </div>
            </div>
    
            <div class="aestethical-margin"></div>
    
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <!-- <script> document.getElementById("eprofile").style.display='none'; </script> -->

        <!-- fin de los menú -->

        <section class="landing">
            
            <div class="landing-noticias">
                <h1>Te podría interesar...</h1>
                <div class="landing-noticias-news">
                    {% for post in posts %}
                        <a href="{% url 'posts:detail_noticia' post.pk %}" class="noticia-sec">
                            <div> 
                                <img src="{{post.foto.url}}">
                                <div class="titulo-noticiasecundaria"> 
                                    <p>{{post.titulo}}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                
                <a href="{% url 'posts:adminNoticia' %}"> 
                    <button class="landing-noticias-boton">
                        <p>Ver todas las noticias</p>
                    </button>
                </a>
            </div>
            <div class="landing-ordenar"> 
                <div class="landing-ejercicios"> 
                    <!-- cambiar colores, agregar iconos definitivos -->
                        <a href="#">
                            <div class="ejercicios-titulo">
                                <p>Ejercicios</p> 
                            </div>
                        </a>
                        <div class="ejercicios">
                            <a href="#">
                                <h1>Brazos</h1>
                                <img src="{% static 'images/gym/brazos.png' %}">
                                <p>saber más</p>
                            </a>
                            <a href="#">
                                <h1>Abdominales</h1>                           
                                <img src="{% static 'images/gym/abdominales.png' %}">
                                <p>saber más</p>
                            </a>
                            <a href="#">
                                <h1>Elongacion</h1>
                                <img src="{% static 'images/gym/calentamiento.png' %}">
                                <p>saber más</p>
                            </a>
                            <a href="#">
                                <h1>Gluteos</h1>
                                <img src="{% static 'images/gym/gluteos.png' %}">
                                <p>saber más</p>
                            </a>
                            <a href="#">
                                <h1>Piernas</h1>
                                <img src="{% static 'images/gym/piernas.png' %}">
                                <p>saber más</p>
                            </a>
                            <a href="#">
                                <h1>Espalda</h1>
                                <img src="{% static 'images/gym/espalda.png' %}">
                                <p>saber más</p>
                            </a>
                        </div>
                        
                    </div>

                <div class="plan-playlist"> 
                    <div class="landing-planmensual"> 
                        <div class="planmensual-titulo">
                            <img src="{% static 'images/lovefitness.png' %}">
                            <p>Tu plan mensual</p>
                        </div>
                        <div class="plan"><p>¿Querés cambiar un plan?</p></div>
                        <button id="button_modal_plan"><p>Cambiar plan</p></button>
                    </div>

                    <form class="landing-encuesta" method="POST">
                        {% csrf_token %}
                        <p>¿Querés cambiar la encuesta?</p>
                        <input type="text" name="poll">
                        <button type ="submit" name="submit_update_poll">CAMBIAR</button>
                    </form>
                </div>
            </div>


            <div class="planmensual--pop-up" id="planmensual--pop-up">
                <div class="planmensual--pop-up_wrap"> 
                    <form action="" method="POST" class="update_turno">
                        {% csrf_token %}
                        <div class="pop-up--first" id="pop-up--first">
                            <i class="fa-solid fa-xmark" id="close_modal_plan"></i>
                            <p>Elegí el alumno al que vas a cambiar el plan</p>
        
                            <select name="alumno" id="alumno_pick">
                                {% for alumno in  alumnos %}
                                    <option value="{{alumno.pk}}">{{alumno}}</option>
                                {% endfor %}
                               
                            </select>
        
                            <p>Seleccioná el plan correspondiente</p>
                            <ul>
                                <input type="radio" name="plan" id="dos_dias" value="2 días/semana">
                                <label class="pop-up--plan" for="dos_dias" >
                                    <p>2 días/semana</p>
                                </label>
                                
                                <input type="radio" name="plan" id="tres_dias" value="3 días/semana">
                                <label class="pop-up--plan" for="tres_dias">
                                    <p>3 días/semana</p>
                                </label>

                                <input type="radio" name="plan" id="cinco_dias" value="5 días/semana">
                                <label class="pop-up--plan" for="cinco_dias">
                                    <p>5 días/semana</p>
                                </label>
                            </ul>
                            <button type="button" id="first_button"><p>Siguiente</p></button>
                            <a id="out_modal" href="{% url 'login_profe' %}">Salir</a>
                            
                        </div>
                        <div class="pop-up--second" id="pop-up--second">
                            <i class="fa-solid fa-xmark"></i>
                            <p>Elegí los días y horarios que el alumno va a asistir</p>
                            <ul>
                                {{formsetDays.management_form}}
                                {% comment %} {{formsetDays}}  {% endcomment %}
                                {% for f in formsetDays %}
                                    <li class="day">
                                        <p></p>
                                        {{f.dia}}
                                        
                                        <div class="custom-num">
                                            {{f.hora}}
                                            <p class="hs">hs</p>
                                        </div>
                                    </li>
                                    
                                {% endfor %}
            
                            </ul>
            
    
                            <div class="container_buttons">
                                <button type="button" id="second_button"><p>Finalizar</p></button>
                                <button type="button" id="second_secondbutton"><p>Atrás</p></button>
                            </div>
                        </div>
                        <div class="pop-up--third" id="pop-up--third">
                            <h5>¡Plan cambiado exitosamente!</h5>
                            <button type="submit" id="form_close" name="submit_update_plan">Salir</button>
                            
                        </div>

                        
                    </form>
                </div>    
            </div>
            <div class="fill-mediaquery"></div>
    
        </div>


        </section>


        <script src="{% static 'js/sectionShifts-admin.js' %}"></script>
        <script src="{% static 'js/modalchangePlanAdmin.js' %}"></script>
        <script src="{% static 'js/agregar_dias.js' %}"></script>
    </body>
</html>
