{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{% static 'js/sectionNewsComplete.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_menu-celu.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_admin_noticias-noticia.css' %}">

    <title>Gym House: noticias</title>
</head>
<body>
    <nav class="menu">
        <div class="menu_icons">
            <ul> <!-- poner los links correctos -->
                <li>
                    <a href="{% url 'login_profe' %}">
                        <img class="logo" src="{% static 'images/logo.png' %}">
                    </a> 
                </li> 
                <li>
                    <a href="admin_perfil.html">
                        <img src="{% static 'images/user.png' %}">
                        <p>Perfil</p>
                    </a>
                </li> 
                <li> 
                    <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                        <img src="{% static 'images/gym/gym.png' %}">
                        <p>Entrenar</p>
                    </a> 
                </li>
                <li>
                    <a href="{% url 'posts:noticias' %}">
                        <img src="{% static 'images/edit.png' %}">
                        <p>Noticias</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'personas:adminTurnos' %}">
                        <img src="{% static 'images/calendar.png' %}">
                        <p>Turnos</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'personas:adminAlumnos' %}">
                        <img src="{% static 'images/users-alt.png' %}">
                        <p>Alumnos</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="navigation" id="navigation">
        <ul>
            <li class="list">
                <a href="{% url 'login_profe' %}">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="text">Inicio</span>
                </a>
            </li>
            <li class="list active">
                <a href="admin_perfil.html">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="text">Perfil</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'entrenamiento:ejerciciosAdmin' %}">
                    <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                    <span class="text">Entrenar</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'posts:noticias' %}">
                    <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                    <span class="text">Noticias</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'personas:adminTurnos' %}">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="text">Turnos</span>
                </a>
            </li>
            <li class="list">
                <a href="{% url 'personas:adminAlumnos' %}">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="text">Alumnos</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <div class="navigation--space" id="navigation--space"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- <script> document.getElementById("eprofile").style.display='none'; </script> -->

    <!-- fin de los menú -->

    <div class="wrapper_noticias">
        <a class="turnback" href="admin_noticias.html">
            <img src="assets/images/turn-back.png">
        </a>
        <div class="noticia">
            <div class="imagen">
                <img src="{{post.foto.url}}">
            </div>
            <div class="texto">
                <div class="texto-titulo">
                    <h3>{{post.titulo}}</h3>
                </div>
                <div class="texto-contenido">
                    <p>{{post.texto}}</p>   
                </div>
            </div>
            <div class="formato">
                <div class="coments">
                    <div class="coments-overflow">
                        {% if comments.count == 0 %}
                            <h1>Parece que no hay comentarios! Sé el primero!</h1>
                        
                        {% endif %}
                        {% for comment in comments %}
                            <div class="coments--user">
                                <div class="coments--userinfo">
                                    <img src="/public/{{comment.persona.foto_de_perfil}}" alt="{{comment.persona}}">
                                    <h5>{{comment.persona}}</h5>
                                </div>
                                <p>{{comment}}</p>
                            </div>
                        {% endfor %}
                        {% comment %} <div class="coments--user">
                            <div class="coments--userinfo">
                                <img src="assets/images/avatar/2.png" alt="">
                                <h5>Lalinchi</h5>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetursint laboriosam.</p>
                        </div>
                        <div class="coments--user">
                            <div class="coments--userinfo">
                                <img src="assets/images/avatar/7.png" alt="">
                                <h5>user</h5>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetursint laboriosam.</p>
                        </div>
                        <div class="coments--user">
                            <div class="coments--userinfo">
                                <img src="assets/images/avatar/11.png" alt="">
                                <h5>Don Juan</h5>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetursint laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, aliquid? Deleniti consectetur consequatur ullam facere eveniet, dignissimos nulla pariatur quos delectus minima amet hic blanditiis illum nostrum assumenda est iste.</p>
                        </div> {% endcomment %}
                    </div>
                </div>
                <form class="input_comment" method="POST" id="form_comment">
                    {% csrf_token %}
                    <input class="inputtext" type="text" name="texto" id="comment">
                    <input class="boton" type="submit" value="Enviar">
                </form>   
            </div>
        </div>
        <div class="rellenofinal"></div>
    </div>
    

    <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>

</body>
</html>