{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="header" content="" />
        <link rel="stylesheet" href="{% static 'css/styles_menu.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/styles_menu-celu.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles_admin_noticias_crear.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles_admin_noticias-noticia.css' %}">
        <title>Admin: Noticias - crear noticia</title>
    
    </head>
    <body>
        <div class="wrapper_menu">
            <nav class="menu">
                <div class="menu_icons">
                    <ul> <!-- poner los links correctos -->
                        <li>
                            <a href="#"> <img class="logo" src="{% static 'images/logo.png' %}"> </a> 
                        </li> 
                        <li>
                            <a href="#"> <img src="{% static 'images/user.png' %}"> <p>Cuenta</p> </a>
                        </li> 
                        <li> 
                            <a href="admin_entrenar.html">
                                <img src="{% static 'images/gym/gym.png' %}">
                                <p>Entrenar</p>
                            </a> 
                        </li>
                        <li>
                            <a href="#"> <img src="{% static 'images/edit.png' %}"> <p>Noticias</p> </a>
                        </li>
                        <li>
                            <a href="#"> <img src="{% static 'images/calendar.png' %}"> <p>Turnos</p> </a>
                        </li>
                        <li>
                            <a href="#"> <img src="{% static 'images/users-alt.png' %}"> <p>Alumnos</p> </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <aside class="container_nav"></aside>
        </div>
        <div class="navigation" id="navigation">
            <ul>
                <li class="list">
                    <a href="index_alumnos.html">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="text">Inicio</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="alumnos_perfil.html">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="text">Perfil</span>
                    </a>
                </li>
                <li class="list">
                    <a href="alumnos_entrenar.html">
                        <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                        <span class="text">Entrenar</span>
                    </a>
                </li>
                <li class="list">
                    <a href="alumnos_noticias.html">
                        <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                        <span class="text">Noticias</span>
                    </a>
                </li>
                <li class="list">
                    <a href="alumnos_turnos.html">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="text">Turnos</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
        <div class="navigation--space" id="navigation--space"></div>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script> document.getElementById("eprofile").style.display='none'; </script>
        
        <!-- fin del menú -->

        <div class="wrapper_noticias">
            <div class="noticias-crearnoticia">
                
                <a class="turnback" src=""><!--agregar link-->
                    <img src="assets/images/turn-back.png">
                </a>
    
                <form action="" method="POST" class="crearnoticia" id="form_crear_noticia" enctype="multipart/form-data">
                    {% comment %} {{form}} {% endcomment %}
                    {% csrf_token %}
                    <div class="imagen">
                        <div class="imagen-subir">
                            <label for="myfile"><p>insertar imagen</p></label>
                            {% comment %} <input type="file" id="myfile" name="foto" accept="image/*"> {% endcomment %}
                            <input type="file" name="foto" id="myfile">
                            
                        </div>
                    </div>
                    <div class="texto">
                        <div class="texto-titulo">
                            <input type="text" placeholder="Ingresar titulo" name="titulo">
                        </div>
                        <div class="texto-contenido">
                            <textarea name="texto" placeholder="Escribe tu noticia" form="form_crear_noticia" ></textarea>            
                        </div>
                    </div>
                    <div class="formato">
                        <div class="botones">
                            <button type="submit"class="publicar">
                                <p>Publicar noticia</p>
                            </button>
                            <button class="descartar">
                                <a href="{% url 'posts:adminNoticia' %}">Descartar</a><!--agregar link-->
                            </button>
                        </div>
                    </div>
                
                
            
                    
                </form>
            </div>
        </div>


    </body>
</html>
