{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_menu-celu.css' %}">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/styles_alumnos-noticias.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_alumnos_noticias2.css' %}">
    <script src="assets/js/sectionNews.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesPerfil.css' %}">
    <script src="{% static 'js/sectionProfile.js' %}"></script>
    <title>Gym House: noticias</title>
</head>
<body> 
    
    <nav class="menu">
        <div class="menu_icons">
            <ul>
                <li>
                    <a href="{% url 'login_user' %}">
                        <img class="logo" src="{% static 'images/logo.png' %}">
                    </a> 
                </li> 
                <li>
                    <a href="#" class="show-profile" id="show-profile"> 
                        <img src="{% static 'images/user.png' %}"> 
                        <p>Perfil</p> 
                    </a>
                </li> 
                <li> 
                    <a href="{% url 'entrenamiento:ejercicios' %}">
                        <img src="{% static 'images/gym/gym' %}.png">
                        <p>Entrenar</p> 
                    </a> 
                </li>
                <li>
                    <a href="{% url 'posts:noticias' %}">
                        <img src="{% static 'images/edit.png' %}">
                        <p>Noticias</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'personas:turnos' %}">
                        <img src="{% static 'images/calendar.png' %}">
                        <p>Turnos</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="navigation" id="navigation">
        <ul>
            <li class="list">
                <a href="index_alumnos.html">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="text">Inicio</span>
                </a>
            </li>
            <li class="list active">
                <a href="alumnos_perfil.html">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="text">Perfil</span>
                </a>
            </li>
            <li class="list">
                <a href="alumnos_entrenar.html">
                    <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                    <span class="text">Entrenar</span>
                </a>
            </li>
            <li class="list">
                <a href="alumnos_noticias.html">
                    <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                    <span class="text">Noticias</span>
                </a>
            </li>
            <li class="list">
                <a href="alumnos_turnos.html">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="text">Turnos</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <div class="navigation--space" id="navigation--space"></div>
    <section class="section-profile" id="section-profile">
        <div id="perfil_bg--blur" class="perfil_bg--blur">
            <div class="perfil_bg--gradient" id="perfil_bg--gradient">
                <div class="perfil_bg" id="perfil_bg">
                    <!-- Perfil minimizado........................................ -->
                    <div class="navbar--fill" id="navbar--fill"></div> 
                    <div id="profile" class="profile">
                        {% if user.foto_de_perfil == None %}
                            <div class="profile_data--radiuspic" id="profile_data--radiuspic">
                                <img src="{% static 'images/avatar/9.png' %}" class="profile_data--pic" id="profile_data--pic">
                            </div>
                        {% else %}
                            <div class="profile_data--radiuspic" id="profile_data--radiuspic">
                                <img src="{% if user.foto_de_perfil %} {{user.foto_de_perfil.url}} {% else %} {% static 'images/avatar/11.png' %} {% endif %}" class="profile_data--pic" id="profile_data--pic">
                            </div>
                        {% endif %}
                        
                        <div class="profile_data--name" id="profile_data--name">
                            <h1>{{user.apodo}}</h1>
                            {% comment %} <figure></figure> {% endcomment %}
                            <h3>{{user.nombre}} {{user.apellido}}</h3>
                            {% if  user.edad != None%}
                                <p>{{user.edad}} años</p>
                            {% endif %}
                            {% comment %} <p>{{user.edad}}</p> {% endcomment %}
                        </div>
                        {% if user.biografia %}
                            <div class="profile_data--description" id="profile_data--description">
                                <p>{{user.biografia}}</p>
                            </div>
                        {% else %}
                            <br>
                        {% endif %}
                        
                        <div class="profile_data--numbers" id="profile_data--numbers">
                            <ol>
                                {% if user.telefono %}
                                <li>
                                    <h5>{{user.telefono}}</h5>
                                    <p>CONTACTO</p>
                                </li>
                                {% else %}
                                    <br>
                                {% endif %}

                                {% if user.peso %}
                                <li>
                                    <h5>{{user.peso}}</h5>
                                    <p>PESO</p>
                                </li>
                                {% else %}
                                    <br>
                                {% endif %}
                                
                                {% if user.altura %}
                                <li>
                                    <h5>{{user.altura}}</h5>
                                    <p>ALTURA</p>
                                </li>
                                {% else %}
                                    <br>
                                {% endif %}
                            </ol>
                        </div>
                        <button id="profile_data--button" class="profile_data--button">
                            <a href="{% url 'personas:perfil' %}">Editar Perfil</a> 
                        </button>
                        <a class="botonito" href="{% url 'logout' %}">Salir de la cuenta</a>
                    </div>
                    <!-- Fin perfil minimizado........................................ -->
                </div>
            </div>
        </div>

        <div class="aestethical-margin"></div>

    </section>


    <section class="news">

        <div class="news_wrapper">
            
            <div class="cards">
                {% for card in noticias_slider %}
            
                    <a class="card" href="{% url 'posts:adminNoticiaDetail' card.id %}">
                        <figure>
                            <img src="{{card.foto.url}}" alt="{{card.titulo}}">
                        </figure>
                        <div class="post__images_detail">
                            <p>{{card.titulo}}</p>
                        </div>
                    </a>
            
                {% endfor %}
            </div>
        </div>
        
    </section>
    
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/sectionNews.js' %}"></script>
</html>