{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_menu-celu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_alumnos-noticias-noticiacompleta.css' %}">
    <title>Gym House: noticias</title>
</head>
<body>
    
    <nav class="menu">
        <div class="menu_icons">
            <ul>
                <li>
                    <a href="index_alumnos.html">
                        <img class="logo" src="assets/images/logo.png">
                    </a> 
                </li> 
                <li>
                    <a href="alumnos_perfil.html">
                        <img src="assets/images/user.png">
                        <p>Perfil</p>
                    </a>
                </li> 
                <li> 
                    <a href="alumnos_entrenar.html">
                        <img src="assets/images/gym/gym.png">
                        <p>Entrenar</p> 
                    </a> 
                </li>
                <li>
                    <a href="alumnos_noticias.html">
                        <img src="assets/images/edit.png">
                        <p>Noticias</p>
                    </a>
                </li>
                <li>
                    <a href="alumnos_turnos.html">
                        <img src="assets/images/calendar.png">
                        <p>Turnos</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="navigation" id="navigation">
        <ul>
            <li class="list">
                <a href="index_alumnos.html">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="text">Inicio</span>
                </a>
            </li>
            <li class="list active">
                <a href="alumnos_perfil.html">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="text">Perfil</span>
                </a>
            </li>
            <li class="list">
                <a href="alumnos_entrenar.html">
                    <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                    <span class="text">Entrenar</span>
                </a>
            </li>
            <li class="list">
                <a href="alumnos_noticias.html">
                    <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                    <span class="text">Noticias</span>
                </a>
            </li>
            <li class="list">
                <a href="alumnos_turnos.html">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="text">Turnos</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <div class="navigation--space" id="navigation--space"></div>

    

    <section class="news_complete--section">
        <div class="pseudo-padding"> 
            <a href="/alumnos_noticias.html"><img src="assets/img/turn-back.png" alt=""></a>
        </div>
        <div class="news_complete">
            <div class="img-fill"></div>
            <img src="{{post.foto.url}}" class="news_img" alt="{{post.titulo}}">
            
            <h3>{{post.titulo}}</h3>
            <p>{{post.texto}}</p>

            <div class="coments--conteiner">

                {% comment %} <div class="icons">

                    <i class="fa-regular fa-heart" id="fa-regular fa-heart"></i>
                    <i class="fa-solid fa-heart" id="fa-solid fa-heart"></i>

                    <i class="fa-regular fa-comment" id="fa-regular fa-comment"></i>
                    <i class="fa-solid fa-comment" id="fa-solid fa-comment"></i>
                </div> {% endcomment %}
                
                <div class="coments">
                    <div class="coments-overflow">
                        {% if comments.count == 0 %}
                            <h1>Parece que no hay comentarios! Sé el primero!</h1>
                        
                        {% endif %}
                        {% for comment in comments %}
                            <div class="coments--user">
                                <div class="coments--userinfo">
                                    <img src="{{comment.persona.foto_de_perfil}}" alt="{{comment.persona}}">
                                    <h5>{{comment.persona}}</h5>
                                </div>
                                <p>{{comment}}</p>
                            </div>
                        {% endfor %}

                    </div>
                </div>    
                <form class="input_comment" method="POST" id="form_comment">
                    {% csrf_token %}
                    <input type="text" name="texto" id="comment">
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </section>

    <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/sectionNewsComplete.js' %}"></script>
    {% comment %} <script src="{% static 'js/comments_ajax.js' %}"></script> {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/1169c95eac.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script> document.getElementById("eprofile").style.display='none'; </script>

</body>
</html>